
#containerProduct .formAdd {
	padding: 10px;
}

#containerProduct .formAdd label {
	font-size: large;
	margin-bottom: 1px;
  margin-top: 8px;
}

#containerProduct .formAdd .form-control:focus {
	box-shadow: 0 0 0 2px rgba(13, 110, 253, .25);
}

#containerProduct .formAdd .form-select:focus {
	box-shadow: 0 0 0 2px rgba(13, 110, 253, .25);
}

#containerProduct .formAdd .btnSave {
	margin: 5px 0;
	padding: 10px 8%;
	background-color: deepskyblue;
	border: none;
	color: white;
	user-select: none;
	cursor: pointer;
	border-radius: 10px;
	white-space: nowrap;
}

#containerProduct .formAdd .btnReset {
  margin-left: 10px;
	padding: 10px 6%;
	background-color: lightcoral;
	border: none;
	color: white;
	user-select: none;
	cursor: pointer;
	border-radius: 10px;
	white-space: nowrap;
}

#containerProduct .formAdd .btnSave:hover,
.btnReset:hover {
	opacity: 0.8;
}

#containerProduct .formAdd .message {
	font-size: large;
	color: red;
}

#containerProduct .formAdd .ctnPoster {
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 200px;
	height: 180px;
}

#containerProduct .formAdd .ctnPoster .uploadImage {
	cursor: pointer;
	border: solid 1px lightgray;
}

#containerProduct .formAdd .ctnPoster .removeImage {
	display: none;
	position: absolute;
	color: gray;
	cursor: pointer;
	padding: 2px;
	background-color: white;
	opacity: 0.6;
}

#containerProduct .formAdd .ctnPoster .removeImage:hover{
	opacity: 1;
}

#containerProduct .formAdd .uploadImages {
	cursor: pointer;
  color: lightsalmon;
}

#containerProduct .formAdd .ctnImages {
  margin: 10px 5px 0 0;
}

#containerProduct .formAdd .fa-camera-retro {
	font-size: 32px;
}

#containerProduct .formAdd .type-product {
  display: flex;
  border: solid 1px lightgray;
  padding: 0 10px 10px 10px;
}

#containerProduct .formAdd .addFormType {
  margin: 10px 10px 10px 0;
	padding: 10px;
	background-color: green;
	border: none;
	color: white;
	user-select: none;
	cursor: pointer;
	border-radius: 10px;
	white-space: nowrap;
  font-size: 22px;
}

#containerProduct .formAdd .addFormType:hover {
  opacity: 0.8;
}
