<app-menu></app-menu>
<div id="containerProduct" class="on-off-menu">
  <form class="formAdd" enctype="multipart/form-data">
    <div class="form-group">
      <label>Tên sản phẩm</label>
      <input type="text" name="name" class="form-control inpForm inpName">
      <div class="message">{{message.name}}</div>
    </div>

    <div class="form-group">
      <label>Ảnh đại diện</label>
      <div class="ctnPoster">
        <i class="fa-solid fa-x removeImage"></i>
        <img class="uploadImage" width="100%" height="100%">
      </div>
      <input type="file" class="fileImage inpImage" name="image" style="display: none;">
      <div class="message">{{message.image}}</div>
    </div>

    <div class="form-group">
      <label>Nhiều ảnh khác</label>
      <input type="file" class="form-control inpImage fileImages" name="images" style="display: none;" multiple="multiple">
      <br><label class="uploadImages"><i class="fa-solid fa-camera-retro"></i> Tải ảnh lên</label>
      <div class="ctnImages row"></div>
      <div class="message">{{message.images}}</div>
    </div>

    <div class="form-group">
      <label>Loại hàng (Không bắt buộc)</label>
      <input type="text" name="type" class="form-control inpTypeP">
    </div>

    <div class="form-group">
      <label>Mô tả sản phẩm</label>
      <textarea class="form-control inpForm inpDescribes" name="describes" rows="8"></textarea>
      <div class="message">{{message.describes}}</div>
    </div>

    <div class="form-gorup">
      <label>Nhiều loại của sản phẩm</label>
      <div class="ctnTypes"></div>
      <i class="fa-solid fa-plus addFormType"></i>
    </div>

    <div class="form-group">
      <label>Danh mục sản phẩm</label>
      <select class="form-select inpForm category" name="category">
        <option value="" hidden>Chọn danh mục sản phẩm</option>
        <ng-container *ngFor="let category of categories">
          <option [value]="category.id">{{category.name}}</option>
        </ng-container>>
      </select>
      <div class="message">{{message.category}}</div>
    </div>

    <div class="form-group ctnCategoryDetail" style="display: none;">
      <label>Loại danh mục sản phẩm</label>
      <select class="form-select inpForm categoryDetail" name="categoryDetail">
      </select>
      <div class="message">{{message.categoryDetail}}</div>
    </div>

    <div class="form-group">
      <label>Trạng thái</label>
      <select class="form-select inpActive">
        <option value="true">Đang bán</option>
        <option value="false">Ngừng bán</option>
      </select>
    </div>

    <div class="form-group mt-2">
      <button type="button" class="btn btnSave">Thêm mới</button>
      <span class="btn btnReset">Nhập lại</span>
    </div>
  </form>
</div>
