@media (max-width: 992px) {
  .containerOrder .menu-order .nav-link {
    font-size: 13px;
    padding: 6px 11px;
  }

  .containerOrder .count-order {
    font-size: 8px;
  }
}

@media (min-width: 992px) {
  .containerOrder .menu-order .nav-link {
    font-size: medium;
    padding: 8px 18px;
  }

  .containerOrder .count-order {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .containerOrder .menu-order .nav-link {
    font-size: 11px;
    padding: 6px 7px;
  }
}

.title {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 480;
  background: linear-gradient(
    90deg,
    rgba(255, 211, 153, 1) 30%,
    rgba(192, 255, 177, 1) 100%
  );
  color: orange;
}

.loading-data {
  text-align: center;
}

.containerOrder {
  padding: 20px 0;
}

.containerOrder .menu-order {
  display: flex;
  justify-content: center;
}

.containerOrder .menu-order .nav-link.active {
  background-color: rgb(255, 190, 111);
  color: white;
}

.containerOrder .menu-order .nav-link {
  font-weight: 500;
  color: grey;
  background-color: rgba(255, 176, 80, 0.5);
  border-radius: 0;
}

.containerOrder .menu-order .nav-link:hover {
  opacity: 0.8;
}

.containerOrder table {
  vertical-align: middle;
}

.containerOrder table, tr,
td,
th {
  border: solid 1px lightgray;
  border-collapse: collapse;
}

.containerOrder table td {
  padding: 3px;
}

.containerOrder table th {
  padding: 8px;
  font-size: 16px;
}

.containerOrder .action {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  border: none;
  font-size: 14px;
}

.containerOrder .action .cancel {
  margin: 2px;
  padding: 2px 4px;
  border-radius: 6px;
  font-size: 14px;
  border: none;
  background-color: lightcoral;
  white-space: nowrap;
  color: white;
  user-select: none;
  cursor: pointer;
}

.containerOrder .action .see-detail {
  margin: 2px;
  padding: 2px 4px;
  border-radius: 6px;
  font-size: 14px;
  background-color: green;
  white-space: nowrap;
  color: white;
  user-select: none;
  cursor: pointer;
}

.containerOrder .action .cancel:hover,
.apply:hover,
.see-detail:hover {
  opacity: 0.8;
}

.containerOrder .count-order {
  z-index: 1;
  padding: 3px 5px;
  border-radius: 50%;
  top: 2px;
  margin-left: -4px;
  user-select: none;
  background-color: rgb(255, 105, 105);
  color: white;
}

.containerOrder .message-order {
  height: 200px;
  text-align: center;
  font-size: medium;
  color: grey;
}

.containerOrder .message-order a {
  text-decoration: none;
}

.containerOrder .message-order a .see-all {
  padding: 6px 40px;
  border-radius: 20px;
  background-color: rgb(255, 176, 80);
  color: white;
  font-size: 16px;
}

/* paging */
#paging {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#paging .page {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

#paging .page > li {
  display: block;
  padding: 5px 12px;
  background-color: rgba(246, 166, 68, 0.8);
  cursor: pointer;
  user-select: none;
}

#paging .page:hover {
  opacity: 0.8;
}
