<app-menu></app-menu>
<div id="containerVoucher" class="on-off-menu">
  <div class="loading text-center"><span class="loader"></span></div>
  <div class="table-vouchers table-responsive">
    <table class="table table-bordered mt-3 text-center">
      <tr>
        <th>Mã số</th>
        <th>Giá trị giảm</th>
        <th>Giá đơn tối thiểu</th>
        <th>Ngày Hết hạn</th>
        <th>Free ship</th>
        <th>Trạng thái</th>
        <th>Người nhận</th>
        <th>Loại thông báo</th>
        <th></th>
      </tr>

      <tr *ngFor="let voucher of vouchers; let i = index" class="tr-voucherupdateForm">
        <td class="td-id" [id]="voucher.id">{{voucher.id}}</td>
        <td *ngIf="voucher.discountType == true">{{voucher.discount.toLocaleString('vi-VN')}}đ</td>
        <td *ngIf="voucher.discountType == false">{{voucher.discount}}%</td>
        <td>{{voucher.priceMin.toLocaleString('vi-VN')}}đ</td>
        <td>{{voucher.expiration | date:'dd-MM-yyyy'}}</td>
        <td>
          <span class="freeShip" *ngIf="voucher.freeShip">Có</span>
          <span class="notFreeShip" *ngIf="!voucher.freeShip">Không</span>
        </td>
        <td>
          <span class="actived" *ngIf="voucher.active">Đã sử dụng</span>
          <span class="unActive" *ngIf="!voucher.active">Chưa sử dụng</span>
        </td>
        <td>{{voucher.user.email}}</td>
        <td>{{voucher.messageType}}</td>

        <td>
          <div class="action">
            <span class="edit" *ngIf="!voucher.active" data-bs-toggle="modal" [attr.data-bs-target]="'#editForm' + voucher.id"><i class="fa-solid fa-pen"></i> Sửa</span>
            <!-- Modal -->
            <div class="modal fade" id="editForm{{voucher.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cập nhật mã giảm giá</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="updateForm" enctype="multipart/form-data">
                    <div class="modal-body">
                      <div class="form-group">
                        <label>Mã số</label>
                        <input type="text" disabled [value]="voucher.id" class="form-control inpId">
                      </div>

                      <ng-container *ngIf="voucher.messageType == 'local'">
                        <div class="form-group">
                          <label>Thời hạn giảm giá</label>
                          <input type="date" name="expiration" [value]="voucher.expiration | date: 'yyyy-MM-dd'" class="form-control inpDate inpExpiration">
                          <div class="message">{{message.expiration}}</div>
                        </div>

                        <div class="form-group">
                          <label>Giảm giá theo</label>
                          <div class="input-group w-50 ctnDisocunt">
                            <ng-container *ngIf="voucher.discountType == false">
                              <input type="number" name="discount" [value]="voucher.discount" flag="false" class="form-control inpForm inpDiscount" placeholder="Nhập phần trăm giảm giá">
                              <button class="btn btn-secondary toPercent" type="button">%</button>
                              <button class="btn btn-outline-secondary toPrice" type="button">.00</button>
                            </ng-container>
                            <ng-container *ngIf="voucher.discountType == true">
                              <input type="number" name="discount" [value]="voucher.discount" flag="true" class="form-control inpForm inpDiscount" placeholder="Nhập giảm giá">
                              <button class="btn btn-outline-secondary toPercent" type="button">%</button>
                              <button class="btn btn-secondary toPrice" type="button">.00</button>
                            </ng-container>
                          </div>
                          <div class="message">{{message.discount}}</div>
                        </div>

                        <div class="form-group">
                          <label>Giá trị tối thiểu đơn hàng</label>
                          <div class="ctnPriceMin">
                            <input type="number" [value]="voucher.priceMin" name="priceMin" class="form-control inpForm inpPriceMin w-50" flag="false" placeholder="Nhập phần trăm giảm giá">
                            <span class="mx-2 showPriceMin">{{voucher.priceMin.toLocaleString('vi-VN')}} đ</span>
                          </div>
                          <div class="message">{{message.priceMin}}</div>
                        </div>

                        <div class="form-group">
                          <label>Free ship</label>
                          <div class="form-check form-switch"  *ngIf="voucher.freeShip">
                            <input class="form-check-input inpFreeShip" checked type="checkbox" role="switch" style="cursor: pointer; box-shadow: none;">
                          </div>
                          <div class="form-check form-switch"  *ngIf="!voucher.freeShip">
                            <input class="form-check-input inpFreeShip" type="checkbox" role="switch" style="cursor: pointer; box-shadow: none;">
                          </div>
                          <div class="message">{{message.freeShip}}</div>
                        </div>

                        <div class="form-group">
                          <label>Thông báo qua email</label>
                          <div class="form-check form-switch">
                            <input class="form-check-input inpMessageType" type="checkbox" role="switch" style="cursor: pointer; box-shadow: none;">
                          </div>
                          <div class="message">{{message.messageType}}</div>
                        </div>
                      </ng-container>

                      <div *ngIf="voucher.messageType == 'email'" style="display: none;">
                        <div class="form-group">
                          <label>Thời hạn giảm giá</label>
                          <input type="date" name="expiration" [value]="voucher.expiration | date: 'dd-MM-yyyy'" class="form-control inpDate inpExpiration">
                          <div class="message">{{message.expiration}}</div>
                        </div>

                        <div class="form-group">
                          <label>Giảm giá theo</label>
                          <div class="input-group w-50 ctnDisocunt">
                            <ng-container *ngIf="voucher.discountType">
                              <input type="number" name="discount" [value]="voucher.discount" flag="false" class="form-control inpForm inpDiscount" placeholder="Nhập giá giảm">
                              <button class="btn btn-outline-secondary toPercent" type="button">%</button>
                              <button class="btn btn-secondary toPrice" type="button">.00</button>
                            </ng-container>
                            <ng-container *ngIf="!voucher.discountType">
                              <input type="number" name="discount" [value]="voucher.discount" flag="true" class="form-control inpForm inpDiscount" placeholder="Nhập phần trăm giảm giá">
                              <button class="btn btn-secondary toPercent" type="button">%</button>
                              <button class="btn btn-outline-secondary toPrice" type="button">.00</button>
                            </ng-container>
                          </div>
                          <div class="message">{{message.discount}}</div>
                        </div>

                        <div class="form-group">
                          <label>Giá trị tối thiểu đơn hàng</label>
                          <div class="ctnPriceMin">
                            <input type="number" [value]="voucher.priceMin" name="priceMin" class="form-control inpForm inpPriceMin w-50" flag="false" placeholder="Nhập phần trăm giảm giá">
                            <span class="mx-2 showPriceMin">{{voucher.priceMin.toLocaleString('vi-VN')}} đ</span>
                          </div>
                          <div class="message">{{message.priceMin}}</div>
                        </div>

                        <div class="form-group">
                          <label>Free ship</label>
                          <div class="form-check form-switch"  *ngIf="voucher.freeShip">
                            <input class="form-check-input inpFreeShip" checked type="checkbox" role="switch" style="cursor: pointer; box-shadow: none;">
                          </div>
                          <div class="form-check form-switch"  *ngIf="!voucher.freeShip">
                            <input class="form-check-input inpFreeShip" type="checkbox" role="switch" style="cursor: pointer; box-shadow: none;">
                          </div>
                          <div class="message">{{message.freeShip}}</div>
                        </div>

                        <div class="form-group">
                          <label>Thông báo qua email</label>
                          <div class="form-check form-switch">
                            <input class="form-check-input inpMessageType" type="checkbox" role="switch" style="cursor: pointer; box-shadow: none;">
                          </div>
                          <div class="message">{{message.messageType}}</div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Trạng thái</label>
                        <select *ngIf="voucher.active" class="form-select inpActive">
                          <option value="true">Đã sử dụng</option>
                          <option value="false">Chưa sử dụng</option>
                        </select>
                        <select *ngIf="!voucher.active" class="form-select inpActive">
                          <option value="true">Đã sử dụng</option>
                          <option value="false" selected>Chưa sử dụng</option>
                        </select>
                      </div>
                      <div class="message">{{message.error}}</div>
                    </div>
                    <div class="modal-footer">
                      <div class="change-message"></div>
                      <div class="modal-action">
                        <button type="button" class="btn btn-success btnReset" [id]="voucher.id">Khôi phục</button>
                        <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary btnSave" [id]="voucher.id">Lưu thay đổi</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <span class="remove btnRemove" [id]="voucher.id" *ngIf="voucher.messageType == 'local' && !voucher.active"><i class="fa-regular fa-trash-can"></i> Xóa</span>
          </div>
        </td>
      </tr>
    </table>
    <div class="total">Tổng mã giảm giá: {{total}}</div>

    <ul id="paging" *ngIf="total > 0 && totalPage.length > 1">
      <span class="page" *ngIf="pageNumber > 1" (click)="setPageNumber(pageNumber - 1)"><li>Trước đó</li></span>
      <ng-container *ngFor="let i of totalPage">
        <ng-container *ngIf="i <= 5 && pageNumber <= 2">
          <ng-container *ngIf="i == pageNumber">
            <span class="page" (click)="setPageNumber(i)"><li style="background-color: rgb(253, 142, 105);">{{i}}</li></span>
          </ng-container>
          <ng-container *ngIf="i != pageNumber">
            <span class="page" (click)="setPageNumber(i)"><li>{{i}}</li></span>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="pageNumber > 2">
          <ng-container *ngIf="i >= pageNumber-2 && i <= pageNumber+2">
            <ng-container *ngIf="i==pageNumber">
              <span class="page" (click)="setPageNumber(i)"><li style="background-color: rgb(253, 142, 105);">{{i}}</li></span>
            </ng-container>
            <ng-container *ngIf="i!=pageNumber">
              <span class="page" (click)="setPageNumber(i)"><li>{{i}}</li></span>
            </ng-container>
          </ng-container>
        </ng-container>

      </ng-container>
      <span class="page" *ngIf="pageNumber < totalPage.length" (click)="setPageNumber(pageNumber + 1)"><li>Kế tiếp</li></span>
    </ul>
  </div>
</div>
