<app-menu></app-menu>
<div id="containerReview" class="on-off-menu">
  <div class="loading text-center"><span class="loader"></span></div>
  <div class="table-reviews table-responsive">
    <table class="table table-bordered mt-3 text-center">
      <tr>
        <th>Mã số</th>
        <th>Người đánh giá</th>
        <th>Nội dung</th>
        <th>Hình ảnh</th>
        <th>Đánh giá</th>
        <th>Mã sản phẩm</th>
        <th>Ngày đánh giá</th>
        <th>Trạng thái</th>
        <th></th>
      </tr>

      <tr *ngFor="let review of reviews; let i = index" class="tr-reviewupdateForm">
        <td>{{review.id}}</td>
        <td>{{review.user.email}}</td>
        <td class="td-content">{{review.content}}</td>
        <td style="display: flex; justify-content: center; align-items: center; border: none;">
          <div class="viewDetailImage" *ngIf="review.images && review.images.length > 0">
            <img [src]="review.images[0].url"  width="100%" height="100%">
            <div class="viewImage">{{'Xem '+ (review.images.length) +' hình'}}</div>
          </div>
        </td>
        <td class="td-star">
          <ng-container *ngFor="let i of arrRate(review.rate)">
            <i class="fa-solid fa-star" style="color: rgb(248, 196, 74);"></i>
          </ng-container>
        </td>
        <td>{{review.product.id}}</td>
        <td>{{review.createDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
        <td>
          <span class="actived" *ngIf="review.active">Hoạt động</span>
          <span class="unActive" *ngIf="!review.active">Bị ẩn</span>
        </td>

        <td>
          <div class="action">
            <span class="btnHidden" [id]="review.id" *ngIf="review.active"><i class="fa-solid fa-eye-slash"></i> Ẩn</span>
            <span class="btnShow" [id]="review.id" *ngIf="!review.active"><i class="fa-solid fa-eye"></i> Hiện</span>
          </div>
        </td>

        <!--Show nhiều hình ảnh-->
        <div class="show-detailImage" *ngIf="review.images && review.images.length > 0">
          <i class="hidden-detailImage fa-solid fa-x"></i>
        </div>
        <div class="show-images" *ngIf="review.images && review.images.length > 0">
          <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-9 col-sm-10" *ngFor="let image of review.images">
              <img class="imagesP" [src]="image.url" width="100%" height="100%">
            </div>
          </div>
        </div>
      </tr>
    </table>
    <div class="total">Tổng đánh giá: {{total}}</div>

    <ul id="paging" *ngIf="total > 0 && totalPage.length > 1">
      <span class="page" *ngIf="pageNumber > 1" (click)="setPageNumber(pageNumber - 1)"><li>Trước đó</li></span>
      <ng-container *ngFor="let i of totalPage">
        <ng-container *ngIf="i <= 5 && pageNumber <= 2">
          <ng-container *ngIf="i == pageNumber">
            <span class="page" (click)="setPageNumber(i)"><li style="background-color: rgb(253, 142, 105);">{{i}}</li></span>
          </ng-container>
          <ng-container *ngIf="i != pageNumber">
            <span class="page" (click)="setPageNumber(i)"><li>{{i}}</li></span>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="pageNumber > 2">
          <ng-container *ngIf="i >= pageNumber-2 && i <= pageNumber+2">
            <ng-container *ngIf="i==pageNumber">
              <span class="page" (click)="setPageNumber(i)"><li style="background-color: rgb(253, 142, 105);">{{i}}</li></span>
            </ng-container>
            <ng-container *ngIf="i!=pageNumber">
              <span class="page" (click)="setPageNumber(i)"><li>{{i}}</li></span>
            </ng-container>
          </ng-container>
        </ng-container>

      </ng-container>
      <span class="page" *ngIf="pageNumber < totalPage.length" (click)="setPageNumber(pageNumber + 1)"><li>Kế tiếp</li></span>
    </ul>
  </div>
</div>
