.ctnMenu ul {
  border-radius: 5px;
}

.ctnMenu .item-menu {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.ctnMenu ul {
  border: solid 1px lightgrey;
  padding: 0;
}

.ctnMenu li:first{
  border-top-right-radius: 5px;
}

.ctnMenu li {
  display: block;
  padding: 10px 20px;
  border-bottom: solid 1px lightgray;
  white-space: nowrap;
}

.ctnMenu li:hover{
  background-color: rgb(223, 223, 223);
}
