<app-menu></app-menu>
<div id="containerProduct" class="on-off-menu">
  <div class="loading text-center"><span class="loader"></span></div>
  <div class="table-products table-responsive">
    <table class="table table-bordered mt-3 text-center">
      <tr>
        <th>Mã số</th>
        <th>Tên sản phẩm</th>
        <th>Hình ảnh</th>
        <th>Loại sản phẩm</th>
        <th>Ngày tạo</th>
        <th>Trạng thái</th>
        <th>Danh mục</th>
        <th></th>
      </tr>

      <tr *ngFor="let product of products; let i = index" class="tr-productupdateForm">
        <td>{{product.id}}</td>
        <td class="td-name">{{product.name}}</td>
        <td style="display: flex; justify-content: center; align-items: center; border: none;">
          <div class="viewDetailImage">
            <img [src]="product.imageUrl"  width="100%" height="100%">
            <div class="viewImage">{{'Xem '+ (product.images.length + 1) +' hình'}}</div>
          </div>
        </td>
        <td>{{product.type}}</td>
        <td>{{product.createDate | date:'dd-MM-yyyy'}}</td>
        <td>
          <span class="actived" *ngIf="product.active">Đang bán</span>
          <span class="unActive" *ngIf="!product.active">Ngừng bán</span>
        </td>
        <td>{{product.category.name}}</td>

        <td>
          <div class="action">
            <span class="edit" id="{{product.id}}" data-bs-toggle="modal" [attr.data-bs-target]="'#editForm' + product.id"><i class="fa-solid fa-pen"></i> Sửa</span>
            <!-- Modal -->
            <div class="modal fade" id="editForm{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cập nhật danh mục</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form class="updateForm" enctype="multipart/form-data">
                    <div class="modal-body">
                      <div class="form-group">
                        <label>Mã số</label>
                        <input type="text" disabled [value]="product.id" class="form-control inpId">
                      </div>

                      <div class="form-group">
                        <label>Tên sản phẩm</label>
                        <input type="text" [value]="product.name" class="form-control inpForm inpName">
                        <div class="message">{{message.name}}</div>
                      </div>

                      <div class="form-group">
                        <label>Ảnh đại diện</label>
                        <input type="file" class="fileImage inpImage" style="display: none;">
                        <div class="ctnImage">
                          <i class="fa-solid fa-x removeImage"></i>
                          <img class="uploadImage imgsP" [src]="product.imageUrl" width="100%" height="100%">
                        </div>
                        <div class="message">{{message.image}}</div>
                      </div>

                      <div class="form-group">
                        <label>Nhiều ảnh khác</label>
                        <input type="file" class="fileImages inpImage" style="display: none;" multiple="multiple">
                        <br><label class="uploadImages"><i class="fa-solid fa-camera-retro"></i> Tải ảnh lên</label>
                        <div class="ctnImages mt-2 row">
                          <ng-container *ngFor="let image of product.images; let j = index">
                            <div class="show-image">
                              <button type="button" class="btnRmImage btn-close" aria-label="Close"></button>
                              <img class="imgsP" [attr.old-image]="image.name" [src]="image.url" width="100%">
                            </div>
                          </ng-container>
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Loại sản phẩm ( Không bắt buộc )</label>
                        <input type="text" [value]="product.type" class="form-control inpTypeP">
                        <div class="message">{{message.name}}</div>
                      </div>

                      <div class="form-group">
                        <label>Mô tả sản phẩm</label>
                        <textarea class="form-control inpForm inpDescribes" name="describes" rows="8">{{product.describes}}</textarea>
                        <div class="message">{{message.describes}}</div>
                      </div>

                      <div class="form-gorup">
                        <label>Nhiều loại của sản phẩm</label>
                        <div class="ctnTypes"></div>
                        <i class="fa-solid fa-plus addFormType"></i>
                      </div>

                      <div class="form-group">
                        <label>Danh mục sản phẩm</label>
                        <select class="form-select inpForm category">
                          <option value="" hidden>Chọn danh mục sản phẩm</option>
                          <ng-container *ngFor="let category of categories">
                            <option *ngIf="category.id==product.category.id" selected [value]="category.id">{{category.name}}</option>
                            <option *ngIf="category.id!=product.category.id" [value]="category.id">{{category.name}}</option>
                          </ng-container>>
                        </select>
                        <div class="message">{{message.category}}</div>
                      </div>

                      <div class="form-group">
                        <label>Trạng thái</label>
                        <select *ngIf="product.active" class="form-select inpActive">
                          <option value="true">Hoạt động</option>
                          <option value="false">Khóa</option>
                        </select>
                        <select *ngIf="!product.active" class="form-select inpActive">
                          <option value="true">Hoạt động</option>
                          <option value="false" selected>Khóa</option>
                        </select>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="change-message"></div>
                      <div class="modal-action">
                        <button type="button" class="btn btn-success btnReset" [id]="product.id">Khôi phục</button>
                        <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary btnSave">Lưu thay đổi</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <span class="remove" [id]="product.id"><i class="fa-regular fa-trash-can"></i> Xóa</span>
            <span class="see-detail" [id]="product.id"><i class="fa-solid fa-eye" flag="true"></i> Xem</span>
          </div>
        </td>

        <!--Show nhiều hình ảnh-->
        <div class="show-detailImage">
          <i class="hidden-detailImage fa-solid fa-x"></i>
        </div>
          <div class="show-images">
          <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-9 col-sm-10">
              <img class="imagesP" [src]="product.imageUrl" width="100%" height="100%">
            </div>
            <div class="col-xl-7 col-lg-8 col-md-9 col-sm-10" *ngFor="let image of product.images">
              <img class="imagesP" [src]="image.url" width="100%" height="100%">
            </div>
          </div>
        </div>
      </tr>
    </table>
    <div class="total">Tổng sản phẩm: {{total}}</div>

    <ul id="paging" *ngIf="total > 0">
      <span class="page" (click)="setPageNumber(1)"><li>Đầu</li></span>
      <span *ngFor="let i of totalPage">
        <span *ngIf="i <= 5 && pageNumber <= 2">
          <span *ngIf="i == pageNumber">
            <span class="page" (click)="setPageNumber(i)"><li style="background-color: rgb(253, 142, 105);">{{i}}</li></span>
          </span>
          <span *ngIf="i != pageNumber">
            <span class="page" (click)="setPageNumber(i)"><li>{{i}}</li></span>
          </span>
        </span>

        <span *ngIf="pageNumber > 2">
          <span *ngIf="i >= pageNumber-2 && i <= pageNumber+2">
            <span *ngIf="i==pageNumber">
              <span class="page" (click)="setPageNumber(i)"><li style="background-color: rgb(253, 142, 105);">{{i}}</li></span>
            </span>
            <span *ngIf="i!=pageNumber">
              <span class="page" (click)="setPageNumber(i)"><li>{{i}}</li></span>
            </span>
          </span>
        </span>
      </span>
      <span class="page" (click)="setPageNumber(totalPage.length)"><li>Cuối</li></span>
    </ul>
  </div>
</div>
