#containerProduct {
  margin: 5px;
}

.message {
  color: red;
  font-size: large;
}

.td-name {
  width: 250px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#containerProduct .uploadImages {
	cursor: pointer;
  color: lightsalmon;
  font-size: large;
}

#containerProduct .show-image {
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 100px;
	height: 100px;
	padding: 3px;
}

#containerProduct .btnRmImage {
	width: 8px;
	height: 8px;
	background-color: rgb(255, 255, 255);
	position: absolute;
}

#containerProduct .addFormType {
  margin: 10px 10px 10px 0;
	padding: 10px;
	background-color: green;
	border: none;
	color: white;
	user-select: none;
	cursor: pointer;
	border-radius: 10px;
	white-space: nowrap;
  font-size: 22px;
}

#containerProduct .addFormType:hover {
  opacity: 0.8;
}

/*Hiển thị và ẩn phần nhiều hình ảnh*/
#containerProduct .show-detailImage {
	display: none;
	position: fixed;
	user-select: none;
	cursor: pointer;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 99999999;
}

#containerProduct .show-images {
	display: none;
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999999;
	overflow: auto;
}

#containerProduct .hidden-detailImage {
	color: white;
	font-size: 28px;
	cursor: pointer;
	float: right;
	margin: 15px 20px;
}

#containerProduct .show-images .row {
	display: flex;
	justify-content: center;
	margin: 0;
}

#containerProduct .show-images .row>div {
	margin-bottom: 10px;
	cursor: default;
}

#containerProduct .fa-x:hover {
	opacity: 0.8;
}

/* Modal */
.table > :not(caption) > * > * {
  background-color: transparent;
}

.modal-body {
  text-align: left;
}

.modal {
  --bs-modal-width: 80%;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-footer .btnCancel {
  margin: 0 8px;
}

.change-message {
  color: green;
  font-size: large;
}

.updateForm label {
  margin-top: 8px;
  font-size: 17px;
}

.form-control:focus {
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.25);
}

.form-select:focus {
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.25);
}

#containerProduct .actived {
  margin: 2px;
  padding: 2px 4px;
  border-radius: 6px;
  background-color: rgb(89, 255, 47);
  white-space: nowrap;
  color: white;
  user-select: none;
}

#containerProduct .unActive {
  margin: 2px;
  padding: 2px 4px;
  border-radius: 6px;
  background-color: lightcoral;
  white-space: nowrap;
  color: white;
  user-select: none;
}

#containerProduct table,
tr,
td,
th {
  border: solid 1px lightgray;
  border-collapse: collapse;
}

#containerProduct table td {
  padding: 3px;
}

#containerProduct table th {
  padding: 8px;
  font-size: 16px;
}

#containerProduct .viewDetailImage {
  margin-top: 3%;
  padding: 0;
	position: relative;
	width: 68px;
	height: 68px;
	user-select: none;
	cursor: pointer;
}
#containerProduct .viewDetailImage:hover {
  opacity: 0.8;
}

#containerProduct .viewDetailImage .viewImage {
  display: flex;
  justify-content: center;
	align-items: center;
	position: absolute;
  border: none;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	font-weight: 500;
	font-size: medium;
}

#containerProduct .action {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  border: none;
  font-size: 14px;
}

#containerProduct .action .remove {
  margin: 2px;
  padding: 2px 4px;
  border-radius: 6px;
  background-color: lightcoral;
  white-space: nowrap;
  color: white;
  user-select: none;
  cursor: pointer;
}

#containerProduct .action .edit {
  margin: 2px;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 6px;
  background-color: deepskyblue;
  white-space: nowrap;
  color: white;
  user-select: none;
  cursor: pointer;
}

#containerProduct .action .see-detail {
  margin: 2px;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 6px;
  background-color: green;
  white-space: nowrap;
  color: white;
  user-select: none;
  cursor: pointer;
}

#containerProduct .action .remove:hover,
.edit:hover,
.see-detail:hover {
  opacity: 0.8;
}

#containerProduct .ctnImage {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 150px;
  height: 150px;
}

#containerProduct .ctnImage .uploadImage {
  cursor: pointer;
  border: solid 1px lightgray;
}

#containerProduct .ctnImage .removeImage {
  display: none;
  position: absolute;
  color: gray;
  cursor: pointer;
  padding: 2px;
  background-color: white;
  opacity: 0.6;
}

#containerProduct .ctnImage .removeImage:hover {
  opacity: 1;
}


/* paging */
#paging {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#paging .page {
  text-decoration: none;
  color: white;
}

#paging .page > li {
  display: block;
  padding: 5px 12px;
  background-color: rgba(246, 166, 68, 0.8);
  cursor: pointer;
  user-select: none;
}

#paging .page:hover {
  opacity: 0.8;
}
