<div class="container-fulid" id="security-info">
  <div class="container">
      <div class="row mx-0 px-0" style="display: flex; justify-content: center;">
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 text-center">
          <div class="item">
            <i class="fa-solid fa-user-shield icon"></i>
            <div class="title">BẢO MẬT</div>
            <div class="describe">Công nghệ bảo mật an toàn, an tâm mua sắm online</div>
          </div>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 text-center">
          <div class="item">
            <i class="fa-solid fa-headset icon"></i>
            <div class="title">HỖ TRỢ</div>
            <div class="describe">Đội ngũ hỗ trợ chuyên nghiệp, nhanh chóng</div>
          </div>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 text-center">
          <div class="item">
            <i class="fa-solid fa-arrow-right-arrow-left icon"></i>
            <div class="title">DỊCH VỤ</div>
            <div class="describe">Dịch vụ chăm sóc khách hàng hoàn thiện, chu đáo</div>
          </div>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 text-center">
          <div class="item">
            <i class="fa-solid fa-thumbs-up icon"></i>
            <div class="title">CHẤT LƯỢNG</div>
            <div class="describe">Thực phẩm sạch, an toàn toàn, nguồn gốc rõ ràng</div>
          </div>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 text-center">
          <div class="item">
            <i class="fa-solid fa-money-bill icon"></i>
            <div class="title">THANH TOÁN</div>
            <div class="describe">Phương pháp thanh toán đa dạng, đáp ứng mọi nhu cầu</div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container-fulid" id="info">
  <div class="container">
    <div class="text-center">
      <div class="logo"><a href=""><img src="assets/images/logo-soufoods.png" width="100"></a></div>
      <div class="contact contact-hotline"><i class="fa-solid fa-phone"></i>Hotline : 048-234-7000</div>
      <div class="contact contact-mail"><i class="fa-regular fa-envelope"></i>soufoods6&#64;gmail.com</div>
    </div>

    <div class="copyright">Copyright © 2024 <span>Soufoods</span> all rights reserved.</div>
  </div>
</div>
