<app-header></app-header>
<title>Tài khoản của bạn - Soufoods</title>
<div class="title">TÀI KHOẢN CỦA BẠN</div>
<div class="container">
  <div class="account row mx-0">
    <app-menu-account class="col-xl-3 col-lg-4 col-md-4 mx-0"></app-menu-account>

    <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 mx-0">
      <span>Xin chào <span style="font-weight: 500;">{{account.lastName + ' ' + account.firstName}}</span></span>
      <table class="table table-bordered mt-2">
        <tr>
          <td class="field">Tên đăng nhập:</td>
          <td colspan="2">{{account.email}}</td>
        </tr>
        <tr>
          <td class="field">Họ và Tên:</td>
          <td>{{account.lastName + ' ' + account.firstName}}</td>
          <td class="action">
            <span class="edit" data-bs-toggle="modal" [attr.data-bs-target]="'#editForm' + account.id"><i class="fa-solid fa-pen-to-square"></i></span>
          </td>
        </tr>
        <tr>
          <td class="field">Mật khẩu:</td>
          <td>********</td>
          <td class="action">
            <span class="edit-password" data-bs-toggle="modal" [attr.data-bs-target]="'#changePassword' + account.id"><i class="fa-solid fa-pen-to-square"></i></span>
          </td>
        </tr>
        <tr>
          <td class="field">Số điện thoại:</td>
          <td *ngIf="account.phone != null">{{account.phone}}</td>
          <td *ngIf="account.phone == null" style="font-weight: 500; font-style: italic;">Vui lòng cập nhật</td>
          <td class="action">
            <span class="edit" data-bs-toggle="modal" [attr.data-bs-target]="'#editForm' + account.id"><i class="fa-solid fa-pen-to-square"></i></span>
          </td>
        </tr>
        <tr>
          <td class="field">Địa chỉ:</td>
          <td *ngIf="account.address != null">{{account.address}}</td>
          <td *ngIf="account.address == null" style="font-weight: 500; font-style: italic;">Vui lòng cập nhật</td>
          <td class="action">
            <span class="edit" data-bs-toggle="modal" [attr.data-bs-target]="'#editForm' + account.id"><i class="fa-solid fa-pen-to-square"></i></span>
          </td>
        </tr>
        <tr>
          <td class="field">Ngày đăng ký:</td>
          <td colspan="2">{{account.createDate | date: 'dd-MM-yyyy'}}</td>
        </tr>
      </table>

      <!-- Modal update -->
      <div class="modal fade" id="editForm{{account.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Cập nhật thông tin</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="updateForm">
              <div class="modal-body">
                <div class="form-group">
                  <label>Họ</label>
                  <input type="text" [value]="account.lastName" name="lastName" class="form-control inpForm inpLastName">
                  <div class="message">{{message.lastName}}</div>
                </div>

                <div class="form-group">
                  <label>Tên đệm & tên</label>
                  <input type="text" [value]="account.firstName" name="firstName" class="form-control inpForm inpFirstName">
                  <div class="message">{{message.firstName}}</div>
                </div>

                <div class="form-group">
                  <label>Số điện thoại</label>
                  <input type="text" [value]="account.phone" name="phone" class="form-control inpForm inpPhone">
                  <div class="message">{{message.phone}}</div>
                </div>

                <div class="form-group">
                  <label>Địa chỉ chi tiết</label>
                  <input type="text" *ngIf="account.address && account.address.length > 0" [value]="account.address[0]" name="address" class="form-control inpForm inpAddress" placeholder="Địa chỉ chi tiết (Số nhà/Tên đường/Tòa nhà)">
                  <input type="text" *ngIf="account.address == null" name="address" class="form-control inpForm inpAddress" placeholder="Địa chỉ chi tiết (Số nhà/Tên đường/Tòa nhà)">

                  <div class="form-group">
                    <label class="label-address">Tỉnh / Thành</label>
                    <select class="form-select inpForm inpProvinces">
                      <option value="">Chọn Tỉnh / Thành</option>
                      <ng-container *ngFor="let provinces of address.provinces">
                        <option *ngIf="account.address && account.address.length > 0 && account.address[3].trim() == provinces.name" selected [value]="provinces.name" [attr.code]="provinces.code">{{provinces.name}}</option>
                        <option *ngIf="account.address && account.address.length > 0 && account.address[3].trim() != provinces.name" [value]="provinces.name" [attr.code]="provinces.code">{{provinces.name}}</option>
                        <option *ngIf="account.address == null" [value]="provinces.name" [attr.code]="provinces.code">{{provinces.name}}</option>
                      </ng-container>
                    </select>
                  </div>

                  <div class="form-group">
                    <label class="label-address">Quận / Huyện</label>
                    <select class="form-select inpForm inpDistricts">
                      <option value="">Chọn Quận / Huyện</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label class="label-address">Phường / Xã</label>
                    <select class="form-select inpForm inpWards">
                      <option value="">Chọn Phường / Xã</option>
                    </select>
                  </div>
                  <div class="message">{{message.address}}</div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="change-message"></div>
                <div class="modal-action">
                  <button type="button" class="btn btn-success btnResetInfo" [id]="account.email">Khôi phục</button>
                  <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Hủy</button>
                  <button type="button" class="btn btn-primary btnSaveInfo">Lưu thay đổi</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Modal change password -->
      <div class="modal fade" id="changePassword{{account.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Đổi mật khẩu</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="updateForm">
              <div class="modal-body">
                <div class="form-group">
                  <label>Mật khẩu cũ</label>
                  <input type="password" name="passwordOld" class="form-control inpFormPw inpPasswordOld">
                  <div class="message">{{message.passwordOld}}</div>
                </div>

                <div class="form-group">
                  <label>Mật khẩu mới</label>
                  <input type="password" name="passwordNew" class="form-control inpFormPw inpPasswordNew">
                  <div class="message">{{message.passwordNew}}</div>
                </div>

                <div class="form-group">
                  <label>Xác nhận mật khẩu mới</label>
                  <input type="password" name="passwordNewCf" class="form-control inpFormPw inpPasswordNewCf">
                  <div class="message">{{message.passwordNewCf}}</div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="changePw-message"></div>
                <div class="modal-action">
                  <button type="button" class="btn btn-success btnResetPw">Khôi phục</button>
                  <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Hủy</button>
                  <button type="button" class="btn btn-primary btnSavePw">Lưu thay đổi</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
