#containerStatistics {
  padding: 10px;
  margin: 20px;
}

#containerStatistics .ctnStatistics > .row {
  display: flex;
  justify-content: center;
}

#containerStatistics .ctnStatistics .yesterday {
  background-color: rgb(85, 185, 247);
  color: white;
  border-radius: 10px;
  font-weight: 500;
}

#containerStatistics .ctnStatistics .today {
  background-color: rgb(155, 237, 68);
  color: white;
  border-radius: 10px;
  font-weight: 500;
}

#containerStatistics .ctnStatistics .week {
  background-color: rgb(248, 159, 90);
  color: white;
  border-radius: 10px;
  font-weight: 500;
}

#containerStatistics .ctnStatistics .month {
  background-color: rgb(96, 106, 245);
  color: white;
  border-radius: 10px;
  font-weight: 500;
}

#containerStatistics .ctnStatistics .total {
  background-color: rgb(47, 137, 247);
  color: white;
  border-radius: 10px;
  font-weight: 500;
}

#containerStatistics .ctnStatistics .heading {
  padding: 10px 10px 3px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#containerStatistics .ctnStatistics .heading > i {
  font-size: medium;
}

#containerStatistics .ctnStatistics .statistics {
  padding: 10px;
  border-top: solid 1px white;
  font-size: medium;
  font-weight: 500;
  text-align: center;
  border-bottom: solid 1px white;
}

#containerStatistics .ctnStatistics .action {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 15px;
}

#containerStatistics .ctnStatistics .total .action .inpForm {
  color: rgb(77, 75, 75);
  padding: 2px 4px;
}

#containerStatistics .ctnStatistics .total .action .form-control:focus {
  box-shadow: none;
  border-color: none;
}

#containerStatistics .ctnStatistics .total .sold {
  text-align: right;
  padding: 10px 10px 0 10px;
}

/* Thống kê sản phẩm bán nhiều nhất và khách hàng mua nhiều nhất */
#ctnStatics {
  display: flex;
  margin-top: 50px;
}

#ctnProducts {
  background-color: rgb(184, 214, 255);
  color: rgb(84, 81, 81);
}

#ctnProducts .products {
  padding: 10px;
}

#ctnProducts .products .title {
  font-size: 20px;
  font-weight: 500;
}

#ctnProducts table,
tr,
td,
th {
  border: solid 1px white;
  border-collapse: collapse;
}

#ctnProducts table td {
  padding: 3px;
}

#ctnProducts table th {
  padding: 8px;
  font-size: 16px;
}

#ctnProducts .products table td img {
  background-color: rgb(184, 214, 255);
}

#ctnProducts .products table .td-name {
  font-weight: 500;
}

#ctnUsers {
  background-color: rgb(255, 229, 184);
  color: rgb(84, 81, 81);
}

#ctnUsers .users {
  padding: 10px;
}

#ctnUsers .users .title {
  font-size: 20px;
  font-weight: 500;
}

#ctnUsers table,
tr,
td,
th {
  border: solid 1px white;
  border-collapse: collapse;
}

#ctnUsers table td {
  padding: 3px;
}

#ctnUsers table th {
  padding: 8px;
  font-size: 16px;
}

#ctnUsers .users table .td-email {
  font-weight: 500;
}

/* paging */
#paging {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#paging .page {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

#paging .page > li {
  display: block;
  padding: 5px 12px;
  background-color: rgba(246, 166, 68, 0.8);
  cursor: pointer;
  user-select: none;
}

#paging .page:hover {
  opacity: 0.8;
}
