<app-menu></app-menu>
<div id="containerStatistics" class="on-off-menu">
  <div class="ctnStatistics">
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
        <div class="yesterday">
          <div class="heading"><i class="fa-solid fa-sack-dollar"></i> DOANH THU HÔM QUA</div>
          <div class="statistics" *ngIf="statistics.yesterday == null">0 đ</div>
          <div class="statistics" *ngIf="statistics.yesterday != null">
            {{(statistics.yesterday.revenue).toLocaleString('vi-VN')}} đ
          </div>
          <div class="action">
            <div></div>
            <div class="sold" *ngIf="statistics.yesterday == null">Đã bán: 0</div>
            <div class="sold" *ngIf="statistics.yesterday != null">Đã bán: {{(statistics.yesterday.sold).toLocaleString('vi-VN')}}</div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
        <div class="today">
          <div class="heading"><i class="fa-solid fa-sack-dollar"></i> DOANH THU HÔM NAY</div>
          <div class="statistics" *ngIf="statistics.today == null">0 đ</div>
          <div class="statistics" *ngIf="statistics.today != null">
            {{(statistics.today.revenue).toLocaleString('vi-VN')}} đ
          </div>
          <div class="action">
            <div></div>
            <div class="sold" *ngIf="statistics.today == null">Đã bán: 0</div>
            <div class="sold" *ngIf="statistics.today != null">Đã bán: {{(statistics.today.sold).toLocaleString('vi-VN')}}</div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
        <div class="week">
          <div class="heading"><i class="fa-solid fa-sack-dollar"></i> DOANH THU TUẦN NÀY</div>
          <div class="statistics" *ngIf="statistics.week == null">0 đ</div>
          <div class="statistics" *ngIf="statistics.week != null">
            {{(statistics.week.revenue).toLocaleString('vi-VN')}} đ
          </div>
          <div class="action">
            <div></div>
            <div class="sold" *ngIf="statistics.week == null">Đã bán: 0</div>
            <div class="sold" *ngIf="statistics.week != null">Đã bán: {{(statistics.week.sold).toLocaleString('vi-VN')}}</div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
        <div class="month">
          <div class="heading"><i class="fa-solid fa-sack-dollar"></i> DOANH THU THÁNG NÀY</div>
          <div class="statistics" *ngIf="statistics.month == null">0 đ</div>
          <div class="statistics" *ngIf="statistics.month != null">
            {{(statistics.month.revenue).toLocaleString('vi-VN')}} đ
          </div>
          <div class="action">
            <div></div>
            <div class="sold" *ngIf="statistics.month == null">Đã bán: 0</div>
            <div class="sold" *ngIf="statistics.month != null">Đã bán: {{(statistics.month.sold).toLocaleString('vi-VN')}}</div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-4">
        <div class="total">
          <div class="heading"><i class="fa-solid fa-sack-dollar"></i> TỔNG DOANH THU</div>
          <div class="statistics" *ngIf="statistics.total == null">0 đ</div>
          <div class="statistics" *ngIf="statistics.total != null">
            {{(statistics.total.revenue).toLocaleString('vi-VN')}} đ
          </div>
          <div class="sold" *ngIf="statistics.total == null">Đã bán: 0</div>
          <div class="sold" *ngIf="statistics.total != null">Đã bán: {{(statistics.total.sold).toLocaleString('vi-VN')}}</div>
          <div class="action">
            <div class="form-group">
              <label>Từ ngày</label><br>
              <input type="date" name="formDate" class="form-control inpForm inpFormDate">
            </div>

            <div class="form-group">
              <Label>Đến ngày</Label><br>
              <input type="date" name="toDate" class="form-control inpForm inpToDate">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="ctnStatics" class="on-off-menu">
  <!-- Thống kê sản phẩm bán nhiều nhất -->
  <div id="ctnProducts" class="col-6">
    <div class="products">
      <div class="title">Top sản phẩm bán chạy nhất</div>
      <div class="loading-products text-center"><span class="loader"></span></div>

      <div class="table-products table-responsive">
        <table class="table table-bordered mt-3 text-center">
          <tr>
            <th>Mã số</th>
            <th>Tên sản phẩm</th>
            <th>Loại sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Đã bán</th>
            <th>Tổng cộng</th>
          </tr>

          <tr *ngFor="let product of sellingProducts.products">
            <td>{{product.id}}</td>
            <td class="td-name">{{product.productDetail.product.name}}</td>
            <td>
              <ng-container *ngIf="product.productDetail.product.name != product.productDetail.size">
                {{product.productDetail.size}}
              </ng-container>
            </td>
            <td><img [src]="product.productDetail.product.imageUrl" width="68"></td>
            <td>{{product.quantity}}</td>
            <td>{{(product.price * product.quantity).toLocaleString("vi-VN")}} đ</td>
          </tr>
        </table>

        <ul id="paging" *ngIf="sellingProducts.total > 0 && sellingProducts.totalPage.length > 1">
          <span class="page" *ngIf="sellingProducts.pageNumber > 1" (click)="setPageNumberByProducts(sellingProducts.pageNumber - 1)"><li>Trước đó</li></span>
          <ng-container *ngFor="let i of sellingProducts.totalPage">
            <ng-container *ngIf="i <= 5 && sellingProducts.pageNumber <= 2">
              <ng-container *ngIf="i == sellingProducts.pageNumber">
                <span class="page" (click)="setPageNumberByProducts(i)"><li style="background-color: rgb(253, 142, 105);">{{i}}</li></span>
              </ng-container>
              <ng-container *ngIf="i != sellingProducts.pageNumber">
                <span class="page" (click)="setPageNumberByProducts(i)"><li>{{i}}</li></span>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="sellingProducts.pageNumber > 2">
              <ng-container *ngIf="i >= sellingProducts.pageNumber-2 && i <= sellingProducts.pageNumber+2">
                <ng-container *ngIf="i==sellingProducts.pageNumber">
                  <span class="page" (click)="setPageNumberByProducts(i)"><li style="background-color: rgb(253, 142, 105);">{{i}}</li></span>
                </ng-container>
                <ng-container *ngIf="i!=sellingProducts.pageNumber">
                  <span class="page" (click)="setPageNumberByProducts(i)"><li>{{i}}</li></span>
                </ng-container>
              </ng-container>
            </ng-container>

          </ng-container>
          <span class="page" *ngIf="sellingProducts.pageNumber < sellingProducts.totalPage.length" (click)="setPageNumberByProducts(sellingProducts.pageNumber + 1)"><li>Kế tiếp</li></span>
        </ul>
      </div>
    </div>
  </div>

  <!-- Thống kê khách hàng mua nhiều nhất -->
  <div id="ctnUsers" class="col-6">
    <div class="users">
      <div class="title">Top khách hàng mua nhiều nhất</div>
      <div class="loading-users text-center"><span class="loader"></span></div>

      <div class="table-users table-responsive">
        <table class="table table-bordered mt-3 text-center">
          <tr>
            <th>Mã số</th>
            <th>Email</th>
            <th>Họ và tên</th>
            <th>Đã mua</th>
            <th>Tổng cộng</th>
          </tr>

          <tr *ngFor="let user of biggestBuyer.users">
            <td>{{user.id}}</td>
            <td class="td-email">{{user.user.email}}</td>
            <td>{{user.user.lastName + ' ' + user.user.firstName}}</td>
            <td>{{user.quantity}}</td>
            <td>{{(user.price * user.quantity).toLocaleString("vi-VN")}} đ</td>
          </tr>
        </table>

        <ul id="paging" *ngIf="biggestBuyer.total > 0 && biggestBuyer.totalPage.length > 1">
          <span class="page" *ngIf="biggestBuyer.pageNumber > 1" (click)="setPageNumberByUsers(biggestBuyer.pageNumber - 1)"><li>Trước đó</li></span>
          <ng-container *ngFor="let i of biggestBuyer.totalPage">
            <ng-container *ngIf="i <= 5 && biggestBuyer.pageNumber <= 2">
              <ng-container *ngIf="i == biggestBuyer.pageNumber">
                <span class="page" (click)="setPageNumberByUsers(i)"><li style="background-color: rgb(253, 142, 105);">{{i}}</li></span>
              </ng-container>
              <ng-container *ngIf="i != biggestBuyer.pageNumber">
                <span class="page" (click)="setPageNumberByUsers(i)"><li>{{i}}</li></span>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="biggestBuyer.pageNumber > 2">
              <ng-container *ngIf="i >= biggestBuyer.pageNumber-2 && i <= biggestBuyer.pageNumber+2">
                <ng-container *ngIf="i==biggestBuyer.pageNumber">
                  <span class="page" (click)="setPageNumberByUsers(i)"><li style="background-color: rgb(253, 142, 105);">{{i}}</li></span>
                </ng-container>
                <ng-container *ngIf="i!=biggestBuyer.pageNumber">
                  <span class="page" (click)="setPageNumberByUsers(i)"><li>{{i}}</li></span>
                </ng-container>
              </ng-container>
            </ng-container>

          </ng-container>
          <span class="page" *ngIf="biggestBuyer.pageNumber < biggestBuyer.totalPage.length" (click)="setPageNumberByUsers(biggestBuyer.pageNumber + 1)"><li>Kế tiếp</li></span>
        </ul>
      </div>
    </div>
  </div>
</div>
