<app-menu></app-menu>
<div id="containerVoucher" class="on-off-menu">
  <div class="formAdd">
    <div class="form-group">
      <label>Gửi mã giảm giá cho người dùng</label>
      <select class="form-select sendEmailType">
        <option value="false">Cho từng người dùng</option>
        <option value="true">Cho tất cả người dùng</option>
      </select>

      <div class="ctnAddFormEmail mt-2">
        <input type="search" name="email" class="form-control inpForm inpEmail w-50" placeholder="Nhập địa chỉ email" autocomplete="off">
        <span class="addEmail">Thêm</span>
      </div>
      <ul class="dropdown-menu dropdown-menu-end p-0 mt-1 search-resultEmail" style="width: 594px; max-width: 594px;">
      </ul>
      <div class="message">{{message.email}}</div>

      <div class="ctnAddEmail"></div>
    </div>

    <div class="form-group">
      <label>Thời hạn giảm giá</label>
      <input type="date" name="expiration" class="form-control inpDate inpExpiration">
      <div class="message">{{message.expiration}}</div>
    </div>

    <div class="form-group">
      <label>Giảm giá theo</label>
      <div class="input-group w-50">
        <input type="number" name="discount" class="form-control inpForm inpDiscount" flag="false" placeholder="Nhập phần trăm giảm giá">
        <button class="btn btn-secondary toPercent" type="button">%</button>
        <button class="btn btn-outline-secondary toPrice" type="button">.00</button>
      </div>
      <div class="message">{{message.discount}}</div>
    </div>

    <div class="form-group">
      <label>Giá trị tối thiểu đơn hàng</label>
      <div class="ctnPriceMin">
        <input type="number" name="priceMin" class="form-control inpForm inpPriceMin w-50" placeholder="Nhập phần trăm giảm giá">
        <span class="mx-2 showPriceMin"></span>
      </div>
      <div class="message">{{message.priceMin}}</div>
    </div>

    <div class="form-group">
      <label>Free ship</label>
      <div class="form-check form-switch">
        <input class="form-check-input inpFreeShip" type="checkbox" role="switch" style="cursor: pointer; box-shadow: none;">
      </div>
      <div class="message">{{message.freeShip}}</div>
    </div>

    <div class="form-group">
      <label>Thông báo qua email</label>
      <div class="form-check form-switch">
        <input class="form-check-input inpMessageType" type="checkbox" role="switch" style="cursor: pointer; box-shadow: none;">
      </div>
      <div class="message">{{message.messageType}}</div>
    </div>

    <div class="form-group mt-2">
      <button type="button" class="btn btnSave">Thêm mới</button>
      <button class="btn btnReset">Nhập lại</button>
    </div>
  </div>
</div>
