<title>Thanh toán - Soufoods</title>
<header>
  <div class="container" id="containerMenu">
    <a href="/cart" class="action-cart"><i class="fa-solid fa-cart-shopping"></i></a>
    <a href="" class="logo"><img src="assets/images/logo-soufoods.png" width="80"></a>

    <!--Menu thông tin đã xác thực-->
    <div class="menu-hover position-relative" *ngIf="authenticated()">
      <a class="action-user" href="/account"><i class="fa-solid fa-user"></i></a>

      <div class="menu-bar"></div>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-hover dropdown-menu-user p-3" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 50px, 0px);">
        <a class="item-menu" href="/admin/dashboard" *ngIf="authorize('ADMIN')"><li>Admin</li></a>
        <a class="item-menu" href="/account"><li>Thông tin cá nhân</li></a>
        <a class="item-menu" href="/account/order-history"><li>Lịch sử đơn hàng</li></a>
        <a class="item-menu" href="/vouchers"><li>Mã giảm giá</li></a>
        <li class="item-menu" (click)="logout()">Đăng xuất</li>
      </ul>
    </div>

     <!--Đăng nhập-->
     <a class="action-user action-block" block="/account/login" *ngIf="!authenticated()" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-user" aria-controls="offcanvas-user"><i class="fa-solid fa-user"></i></a>
     <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-user" aria-labelledby="offcanvas-userLabel">
       <div class="offcanvas-header">
         <h5 class="offcanvas-title" id="offcanvas-userLabel">ĐĂNG NHẬP</h5>
         <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
       </div>
       <div class="offcanvas-body">
         <div class="formLogin row mx-0">
           <form #loginForm="ngForm" (submit)="login(loginForm)">
             <div class="form-group">
               <label>Email</label>
               <input type="text" ngModel name="email" class="form-control inpFormLogin">
             </div>

             <div class="form-group">
               <label>Mật khẩu</label>
               <input type="password" ngModel name="password" class="form-control inpFormLogin">
             </div>

             <div class="message">{{message.error}}</div>

             <div class="form-group my-3">
               <a class="forgot-pw" href="/account/forgot-password">Bạn đã quên mật khẩu?</a>
             </div>

             <div class="text-center"><button type="subbmit" class="btnSubmit btnLoginToMenu">Đăng nhập</button></div>

             <div class="other-login"><hr><span>HOẶC</span><hr></div>
             <a class="loginOther" href="/oauth2/authorization/google">
               <img src="/assets/images/icon-google.png" width="30px" height="30px"> Tiếp tục với Google
             </a>
             <a class="loginOther" href="/oauth2/authorization/facebook">
               <img src="/assets/images/icon-fb.png" width="30px" height="30px"> Tiếp tục với Facebook
             </a>

             <div class="register">Bạn chưa có tài khoản? <a href="/account/register">Đăng ký ngay</a></div>
           </form>
         </div>
       </div>
     </div>
  </div>
</header>

<div class="loading-data"><span class="loader3"></span></div>
<div class="container" id="containerOrder">
  <div class="ctnInfo col-xl-6 col-lg-6">
    <div class="title-info">Thông tin giao hàng</div>

    <div class="ctnFormGorup">
      <div class="form-group w-100" style="margin-right: 10px;">
        <label>Họ</label>
        <input type="text" name="lastName" class="form-control inpForm inpLastName" [ngModel]="orderForm.lastName">
      </div>

      <div class="form-group w-100" style="margin-left: 10px;">
        <label>Tên đệm & tên</label>
        <input type="text" name="firstName" class="form-control inpForm inpFirstName" [ngModel]="orderForm.firstName">
      </div>
    </div>

    <div class="ctnFormGorup">
      <div class="form-group" style="margin-right: 10px; width: 60%;">
        <label>Email</label>
        <input type="text" name="email" class="form-control inpForm inpEmail" [ngModel]="orderForm.email">
      </div>

      <div class="form-group" style="margin-left: 10px; width: 40%;">
        <label>Số điện thoại</label>
        <input type="text" name="phone" class="form-control inpForm inpPhone" [ngModel]="orderForm.phone">
      </div>
    </div>

    <div class="form-group">
      <label>Địa chỉ</label>
      <input type="text" name="address" class="form-control inpForm inpAddress" *ngIf="orderForm.address != null" [ngModel]="orderForm.address[0]" placeholder="Địa chỉ chi tiết (Số nhà/Tên đường/Tòa nhà)">
      <input type="text" name="address" class="form-control inpForm inpAddress" *ngIf="orderForm.address == null" placeholder="Số nhà, tên đường, tòa nhà">

      <div class="ctnAddress">
        <div class="form-group w-100">
          <label class="label-address">Tỉnh / Thành</label>
          <select class="form-select inpForm inpProvinces">
            <option value="">Chọn Tỉnh / Thành</option>
            <ng-container *ngFor="let provinces of address.provinces">
              <option *ngIf="this.orderForm.address && this.orderForm.address.length > 0 && this.orderForm.address[3].trim() == provinces.name" selected [value]="provinces.name" [attr.code]="provinces.code">{{provinces.name}}</option>
              <option *ngIf="this.orderForm.address && this.orderForm.address.length > 0 && this.orderForm.address[3].trim() != provinces.name" [value]="provinces.name" [attr.code]="provinces.code">{{provinces.name}}</option>
              <option *ngIf="this.orderForm.address == null" [value]="provinces.name" [attr.code]="provinces.code">{{provinces.name}}</option>
            </ng-container>
          </select>
        </div>

        <div class="form-group formDistricts w-100">
          <label class="label-address">Quận / Huyện</label>
          <select class="form-select inpForm inpDistricts">
            <option value="">Chọn Quận / Huyện</option>
          </select>
        </div>

        <div class="form-group w-100">
          <label class="label-address">Phường / Xã</label>
          <select class="form-select inpForm inpWards">
            <option value="">Chọn Phường / Xã</option>
          </select>
        </div>
      </div>
    </div>

    <div class="ctnShip">
      <div class="title-ship">Hình thức vận chuyển</div>
      <div class="ctnMessageShip">
        <i class="fa-solid fa-truck"></i>
        <div class="message-ship"></div>
      </div>
    </div>

    <div class="ctnPayment">
      <div class="title-payment">Hình thức thanh toán</div>
      <div class="form-group mt-2">
        <input type="radio" *ngIf="orderForm.payment == null" class="form-check-input inpPayment" checked value="COD" name="inpPayment" id="inpCOD">
        <input type="radio" *ngIf="orderForm.payment != null && orderForm.payment == 'COD'" checked class="form-check-input inpPayment" checked value="COD" name="inpPayment" id="inpCOD">
        <input type="radio" *ngIf="orderForm.payment != null && orderForm.payment != 'COD'" class="form-check-input inpPayment" checked value="COD" name="inpPayment" id="inpCOD">
        <label for="inpCOD">Thanh toán khi giao hàng (COD)</label>
      </div>

      <div class="form-group mt-2">
        <input type="radio" *ngIf="orderForm.payment != null && orderForm.payment == 'bank'" checked class="form-check-input inpPayment" value="bank" name="inpPayment" id="inpBank">
        <input type="radio" *ngIf="orderForm.payment == null" class="form-check-input inpPayment" value="bank" name="inpPayment" id="inpBank">
        <label label for="inpBank">Thanh toán qua ngân hàng</label>
        <div class="ctnMessageBank"></div>
      </div>

      <div class="form-group mt-2">
        <input type="radio" *ngIf="orderForm.payment != null && orderForm.payment == 'momo'" checked class="form-check-input inpPayment" value="momo" name="inpPayment" id="inpMoMo">
        <input type="radio" *ngIf="orderForm.payment == null" class="form-check-input inpPayment" value="momo" name="inpPayment" id="inpMoMo">
        <label for="inpMoMo">Thanh toán qua momo</label>
        <div class="ctnMessageMoMo"></div>
      </div>
    </div>

    <div class="form-group">
      <button type="button" class="btnPayment">Hoàn tất thanh toán</button>
    </div>
  </div>

  <div class="ctnProducts col-xl-6 col-lg-6"></div>
</div>
