@media (max-width: 992px) {
  #containerOrder .ctnProducts {
    display: none;
  }

  #containerOrder .collapseProducts {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  #collapseProducts {
    padding: 0;
    background-color: rgb(255, 246, 234);
  }

  #collapseProducts .card-body {
    display: flex;
    justify-content: center;
  }

  #collapseProducts .btnVoucher {
    background-color: rgb(255, 176, 80);
    color: white;
  }

  #collapseProducts .btnVoucher:hover {
    opacity: 0.8;
  }

  #collapseProducts .productD {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  #collapseProducts .productD .ctnImage .image {
    background-color: white;
    height: 68px;
    width: 68px;
    background-image: url(../../assets/images/loading-image.gif);
    background-position: 70% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-position: center center;
    overflow: hidden;
    position: relative;
  }

  #collapseProducts .productD .ctnImage .image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: contain;
    object-position: center center;
  }

  #collapseProducts .productD .ctnImage .quantityP {
    margin-top: 5px;
    padding: 6px 8px;
    border-radius: 50%;
    user-select: none;
    background-color: rgb(106, 105, 105);
    opacity: 0.8;
    color: white;
    z-index: 1;
  }

  #collapseProducts .productD .size-name {
    font-size: 14px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #collapseProducts .productD .size-name .ctnPrice {
    width: 100px;
    max-width: 100px;
    text-align: right;
  }

  #collapseProducts .productD .size-name .size {
    font-size: 12px;
    color: grey;
  }

  #collapseProducts .productD .size-name .price {
    margin-left: 20px;
    white-space: nowrap;
    color: orange;
  }

  #collapseProducts .paymentTotal .ctnProvisional,
  .paymentTotal .ctnShipFee,
  .paymentTotal .ctnVoucher,
  .paymentTotal .ctnPaymentTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  #collapseProducts .paymentTotal .money {
    color: orange;
    font-size: 15px;
    font-weight: 500;
  }

  #collapseProducts .ctnPaymentTotal .money {
    color: orange;
    font-size: 18px;
    font-weight: 500;
  }

  #collapseProducts .ctnVoucher i {
    color: grey;
    cursor: pointer;
    margin-left: 5px;
  }

  #collapseProducts .productD .size-name .ctnName {
    width: 250px;
    max-width: 250px;
  }

  #collapseProducts .paymentTotal {
    width: 440px;
    max-width: 440px;
  }
}

@media (min-width: 992px) {
  #containerOrder .collapseProducts,
  #collapseProducts {
    display: none;
  }
}

@media (max-width: 768px) {
  #containerMenu .dropdown-menu-user {
    display: none;
  }

  #collapseProducts .productD .size-name .ctnName {
    width: 200px;
    max-width: 200px;
  }

  #collapseProducts .paymentTotal {
    width: 390px;
    max-width: 390px;
  }
}

@media (min-width: 768px) {
  #containerOrder {
    display: flex;
  }

  #containerOrder .ctnInfo .ctnAddress {
    display: flex;
    justify-content: center;
  }

  #containerOrder .ctnInfo .ctnAddress .formDistricts {
    margin: 0 10px;
  }

  #containerOrder .input-voucher-group {
    width: 75%;
  }
}

@media (max-width: 576px) {
  #containerOrder .input-voucher-group {
    width: 100%;
  }

  #containerMenu .dropdown-menu-user {
    display: none;
  }

  #collapseProducts .productD .size-name .ctnName {
    width: 115px;
    max-width: 115px;
  }

  #collapseProducts .paymentTotal {
    width: 305px;
    max-width: 305px;
  }
}

header {
  background-color: rgb(255 233 207);
  margin-bottom: 20px;
}

header .offcanvas {
  max-width: 90%;
}

#containerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}

#containerMenu .shopping-cart {
  color: rgb(255, 176, 80);
  font-size: medium;
  text-decoration: none;
}

#containerMenu .shopping-cart > i {
  font-size: 22px;
}

#containerMenu .action-user,
#containerMenu .action-cart {
  font-size: 22px;
  color: rgb(255, 176, 80);
  cursor: pointer;
}

#containerMenu .action-user:hover,
#containerMenu .action-cart:hover {
  opacity: 0.8;
}

#containerMenu .menu-bar {
  position: absolute;
  z-index: 100;
  height: 30px;
  width: 100%;
  margin-top: -6px;
}

#containerMenu .item-menu {
  text-decoration: none;
  color: black;
  white-space: nowrap;
  cursor: pointer;
}

#containerMenu .item-menu:hover {
  color: rgb(255, 190, 111);
}

/*Form đăng nhập*/
#containerMenu .formLogin {
  width: 100%;
  font-size: medium;
}

#containerMenu .formLogin form label {
  margin-bottom: 1px;
  margin-top: 10px;
}

#containerMenu .formLogin form .form-control:focus {
  box-shadow: 0 0 0 2px rgb(255, 222, 170);
  border-color: rgb(255, 222, 170);
}

#containerMenu .formLogin .forgot-pw {
  text-decoration: none;
  color: black;
}

#containerMenu .formLogin .forgot-pw:hover {
  color: rgb(255, 141, 2);
}

#containerMenu .formLogin .btnSubmit {
  border: solid 1px white;
  padding: 6px 60px;
  border-radius: 15px;
  font-weight: 400;
  background-color: rgb(255, 141, 2);
  color: white;
  white-space: nowrap;
}

#containerMenu .formLogin .btnSubmit:hover {
  opacity: 0.8;
}

#containerMenu .formLogin .other-login {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#containerMenu .formLogin .other-login > hr {
  width: 100%;
  margin: 0 3px;
}

#containerMenu .formLogin .loginOther {
  cursor: pointer;
  margin-top: 6px;
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px gray;
  color: black;
}

#containerMenu .formLogin .loginOther > img {
  margin-right: 5px;
}

#containerMenu .formLogin .loginOther:hover {
  color: rgb(255, 141, 2);
}

#containerMenu .formLogin .register {
  margin-top: 20px;
  text-align: center;
}

#containerMenu .formLogin .register > a {
  text-decoration: none;
  color: rgb(255, 141, 2);
}

#containerMenu .formLogin .register > a:hover {
  opacity: 0.8;
}

.message {
  color: red;
}

.loading-data {
  text-align: center;
}

#containerOrder {
  margin-bottom: 40px;
}

/* Thông tin đơn hàng */
#containerOrder .ctnInfo .title-info,
.ctnInfo .title-ship,
.ctnInfo .title-payment {
  font-size: large;
  font-weight: 500;
}

#containerOrder label {
  font-size: medium;
  margin-bottom: 2px;
  margin-top: 5px;
}

#containerOrder .form-control:focus {
  box-shadow: 0 0 0 2px rgb(255, 222, 170);
  border-color: rgb(255, 222, 170);
}

#containerOrder .form-select:focus {
  box-shadow: 0 0 0 2px rgb(255, 222, 170);
  border-color: rgb(255, 222, 170);
}

#containerOrder .form-check-input:focus {
  box-shadow: none;
  border-color: none;
}

#containerOrder .ctnInfo .ctnFormGorup {
  display: flex;
  width: 100%;
}

#containerOrder .ctnInfo .ctnShip {
  margin-top: 20px;
}

#containerOrder .ctnInfo .ctnShip .ctnMessageShip {
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  border: solid 1px lightgray;
  color: grey;
  text-align: center;
}

#containerOrder .ctnInfo .ctnPayment {
  margin-top: 20px;
}

#containerOrder .ctnInfo .ctnPayment label {
  padding-left: 5px;
  margin: 0;
  cursor: pointer;
}

#containerOrder .ctnInfo .ctnPayment .inpPayment {
  cursor: pointer;
}

#containerOrder .ctnInfo .btnPayment {
  margin-top: 20px;
  padding: 10px 0;
  width: 100%;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  background-color: rgb(255, 176, 80);
  border: none;
}

#containerOrder .ctnInfo .btnPayment:hover {
  opacity: 0.8;
}

/* Danh sách sản phẩm */
#containerOrder .ctnProducts {
  padding: 20px;
  background-color: rgb(255, 246, 234);
}

#containerOrder .ctnProducts .btnVoucher {
  background-color: rgb(255, 176, 80);
  color: white;
}

#containerOrder .ctnProducts .btnVoucher:hover {
  opacity: 0.8;
}

#containerOrder .ctnProducts .productD {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#containerOrder .ctnProducts .productD .ctnImage .image {
  background-color: white;
  height: 68px;
  width: 68px;
  background-image: url(../../assets/images/loading-image.gif);
  background-position: 70% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  object-position: center center;
  overflow: hidden;
  position: relative;
}

#containerOrder .ctnProducts .productD .ctnImage .image img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: contain;
  object-position: center center;
}

#containerOrder .ctnProducts .productD .ctnImage .quantityP {
  margin-top: 5px;
  padding: 6px 8px;
  border-radius: 50%;
  user-select: none;
  background-color: rgb(106, 105, 105);
  opacity: 0.8;
  color: white;
  z-index: 1;
}

#containerOrder .ctnProducts .productD .size-name {
  font-size: 14px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#containerOrder .ctnProducts .productD .size-name .ctnName {
  width: 250px;
  max-width: 250px;
}

#containerOrder .ctnProducts .productD .size-name .ctnPrice {
  width: 100px;
  max-width: 100px;
  text-align: right;
}

#containerOrder .ctnProducts .productD .size-name .size {
  font-size: 12px;
  color: grey;
}

#containerOrder .ctnProducts .productD .size-name .price {
  margin-left: 20px;
  white-space: nowrap;
  color: orange;
}

#containerOrder .ctnProducts .paymentTotal {
  width: 440px;
  max-width: 440px;
}

#containerOrder .ctnProducts .paymentTotal .ctnProvisional,
.paymentTotal .ctnShipFee,
.paymentTotal .ctnVoucher,
.paymentTotal .ctnPaymentTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

#containerOrder .ctnProducts .paymentTotal .money {
  color: orange;
  font-size: 15px;
  font-weight: 500;
}

#containerOrder .ctnProducts .ctnPaymentTotal .money {
  color: orange;
  font-size: 18px;
  font-weight: 500;
}

#containerOrder .ctnProducts .ctnVoucher i {
  color: grey;
  cursor: pointer;
  margin-left: 5px;
}

#containerOrder .collapseProducts .see {
  color: orange;
}

#containerOrder .collapseProducts .paymentTotal {
  color: orange;
  font-weight: 500;
  font-size: 18px;
}

#containerOrder #collapseProducts .card {
  border: none;
  background-color: rgb(255, 246, 234);
}
