<title>Thanh toán - Soufoods</title>
<header>
  <div class="container" id="containerMenu">
    <a href="/cart" class="action-cart"><i class="fa-solid fa-cart-shopping"></i></a>
    <a href="" class="logo"><img src="assets/images/logo-soufoods.png" width="80"></a>

    <!--Menu thông tin đã xác thực-->
    <div class="menu-hover position-relative" *ngIf="authenticated()">
      <a class="action-user" href="/account"><i class="fa-solid fa-user"></i></a>

      <div class="menu-bar"></div>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-hover dropdown-menu-user p-3" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 50px, 0px);">
        <a class="item-menu" href="/admin/dashboard" *ngIf="authorize('ADMIN')"><li>Admin</li></a>
        <a class="item-menu" href="/account"><li>Thông tin cá nhân</li></a>
        <a class="item-menu" href="/account/order-history"><li>Lịch sử đơn hàng</li></a>
        <a class="item-menu" href="/vouchers"><li>Mã giảm giá</li></a>
        <li class="item-menu" (click)="logout()">Đăng xuất</li>
      </ul>
    </div>

     <!--Đăng nhập-->
     <a class="action-user action-block" block="/account/login" *ngIf="!authenticated()" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-user" aria-controls="offcanvas-user"><i class="fa-solid fa-user"></i></a>
     <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-user" aria-labelledby="offcanvas-userLabel">
       <div class="offcanvas-header">
         <h5 class="offcanvas-title" id="offcanvas-userLabel">ĐĂNG NHẬP</h5>
         <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
       </div>
       <div class="offcanvas-body">
         <div class="formLogin row mx-0">
           <form #loginForm="ngForm" (submit)="login(loginForm)">
             <div class="form-group">
               <label>Email</label>
               <input type="text" ngModel name="email" class="form-control inpFormLogin">
             </div>

             <div class="form-group">
               <label>Mật khẩu</label>
               <input type="password" ngModel name="password" class="form-control inpFormLogin">
             </div>

             <div class="message">{{message.error}}</div>

             <div class="form-group my-3">
               <a class="forgot-pw" href="/account/forgot-password">Bạn đã quên mật khẩu?</a>
             </div>

             <div class="text-center"><button type="subbmit" class="btn btnSubmit btnLoginToMenu">Đăng nhập</button></div>

             <div class="other-login"><hr><span>HOẶC</span><hr></div>
             <div class="loginOther" (click)="loginWidthFacebook()">
               <img src="/assets/images/icon-fb.png" width="30px" height="30px"> Tiếp tục với Facebook
             </div>
             <div class="loginOther">
              <asl-google-signin-button></asl-google-signin-button>
              Tiếp tục với Google
            </div>

             <div class="register">Bạn chưa có tài khoản? <a href="/account/register">Đăng ký ngay</a></div>
           </form>
         </div>
       </div>
     </div>
  </div>
</header>

<div class="loading-data"><span class="loader3"></span></div>
<div class="container" id="containerOrder">
  <div class="row mx-0">
    <div class="ctnInfo col-xl-6 col-lg-6">
      <div class="collapseProducts" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProducts" aria-expanded="false" aria-controls="collapseProducts">
        <span class="see">Hiển thị thông tin đơn hàng</span>
        <span class="paymentTotal">{{paymentTotal.toLocaleString("vi-VN")}} đ</span>
      </div>
      <div class="collapse" id="collapseProducts">
        <div class="card card-body mb-3">
          <div class="ctnCardBody">
            <div class="products">
              <div class="productD" *ngFor="let cart of carts">
                <div class="ctnImage position-relative">
                  <span class="quantityP position-absolute start-100 translate-middle badge rounded-pille">
                    {{cart.quantity}}
                  </span>
                  <div class="image"><img [src]="cart.imageUrl" loading="lazy"></div>
                </div>

                <div class="size-name">
                  <div class="ctnName">
                    <div class="name">{{cart.name}}</div>
                    <div class="size" *ngIf="cart.name != cart.productDetail.size">{{cart.productDetail.size}}</div>
                  </div>
                  <div class="ctnPrice">
                    <div class="price">{{(cart.quantity * cart.productDetail.price * (100 - cart.productDetail.discount) / 100).toLocaleString("vi-VN")}} đ</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="voucher">
              <div class="form-gorup">
                <div class="input-group input-voucher-group mt-3">
                  <input type="text" name="voucher" class="form-control inpFormVoucher inpVoucher" placeholder="Mã giảm giá">
                  <button class="btn btnVoucher" type="button">Áp dụng</button>
                </div>
                <div class="message">{{this.message.voucher}}</div>
              </div>
            </div>

            <div class="paymentTotal mt-3">
              <div class="ctnProvisional">
                <div class="provisional">Tạm tính: </div>
                <div class="money">{{provisional.toLocaleString("vi-VN")}} đ</div>
              </div>

              <div class="ctnVoucher" *ngIf="orderForm.voucher != null">
                <div class="discount">Mã giảm giá: {{orderForm.voucher.discountCode}}<i class="fa-regular fa-circle-xmark deleteVoucher"></i></div>
                <div class="money" *ngIf="!orderForm.voucher.discountType">
                  -{{(provisional - (provisional * (100 - orderForm.voucher.discount) / 100)).toLocaleString("vi-VN")}} đ
                </div>
                <div class="money" *ngIf="orderForm.voucher.discountType">
                  -{{(provisional - (provisional - orderForm.voucher.discount)).toLocaleString("vi-VN")}} đ
                </div>
              </div>

              <div class="ctnShipFee">
                <div class="shipFee">Phí vận chuyển: </div>
                <div class="money" *ngIf="orderForm.shipFee == null">__</div>
                <div class="money" *ngIf="orderForm.shipFee != null">
                  <ng-container *ngIf="orderForm.shipFee <= 0">Miễn phí</ng-container>
                  <ng-container *ngIf="orderForm.shipFee > 0">{{orderForm.shipFee.toLocaleString("vi-VN")}} đ</ng-container>
                </div>
              </div>

              <hr>
              <div class="ctnPaymentTotal">
                <div class="total">Tổng cộng: </div>
                <div class="money" *ngIf="paymentTotal <= 0">__</div>
                <div class="money" *ngIf="paymentTotal > 0">{{paymentTotal.toLocaleString("vi-VN")}} đ</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="title-info">Thông tin giao hàng</div>
      <div class="ctnFormGorup">
        <div class="form-group w-100" style="margin-right: 10px;">
          <label>Họ</label>
          <input type="text" name="lastName" class="form-control inpForm inpLastName" [ngModel]="orderForm.lastName">
        </div>

        <div class="form-group w-100" style="margin-left: 10px;">
          <label>Tên đệm & tên</label>
          <input type="text" name="firstName" class="form-control inpForm inpFirstName" [ngModel]="orderForm.firstName">
        </div>
      </div>

      <div class="ctnFormGorup">
        <div class="form-group" style="margin-right: 10px; width: 60%;">
          <label>Email</label>
          <input type="text" name="email" class="form-control inpForm inpEmail" [ngModel]="orderForm.email">
          <div class="message" [innerHTML]="this.message.email"></div>
        </div>

        <div class="form-group" style="margin-left: 10px; width: 40%;">
          <label>Số điện thoại</label>
          <input type="number" name="phone" class="form-control inpForm inpPhone" [ngModel]="orderForm.phone">
        </div>
      </div>

      <div class="form-group">
        <label>Địa chỉ</label>
        <input type="text" name="address_0" class="form-control inpForm inpAddress" *ngIf="orderForm.address != null" [ngModel]="orderForm.address[0]" placeholder="Địa chỉ chi tiết (Số nhà/Tên đường/Tòa nhà)">
        <input type="text" name="address_0" class="form-control inpForm inpAddress" *ngIf="orderForm.address == null" placeholder="Số nhà, tên đường, tòa nhà">

        <div class="ctnAddress">
          <div class="form-group w-100">
            <label class="label-address">Tỉnh / Thành</label>
            <select name="address_3" class="form-select inpForm inpProvinces">
              <option value="">Chọn Tỉnh / Thành</option>
              <ng-container *ngFor="let provinces of address.provinces">
                <option *ngIf="this.orderForm.address != null && this.orderForm.address.length > 0 && this.orderForm.address[3].trim() == provinces.name" selected [value]="provinces.name" [attr.code]="provinces.code">{{provinces.name}}</option>
                <option *ngIf="this.orderForm.address != null && this.orderForm.address.length > 0 && this.orderForm.address[3].trim() != provinces.name" [value]="provinces.name" [attr.code]="provinces.code">{{provinces.name}}</option>
                <option *ngIf="this.orderForm.address == null" [value]="provinces.name" [attr.code]="provinces.code">{{provinces.name}}</option>
              </ng-container>
            </select>
          </div>

          <div class="form-group formDistricts w-100">
            <label class="label-address">Quận / Huyện</label>
            <select name="address_2" class="form-select inpForm inpDistricts">
              <option value="">Chọn Quận / Huyện</option>
            </select>
          </div>

          <div class="form-group w-100">
            <label class="label-address">Phường / Xã</label>
            <select name="address_1" class="form-select inpForm inpWards">
              <option value="">Chọn Phường / Xã</option>
            </select>
          </div>
        </div>
      </div>

      <div class="ctnShip">
        <div class="title-ship">Hình thức vận chuyển</div>
        <div class="ctnMessageShip">
          <i class="fa-solid fa-truck"></i>
          <div class="message-ship"></div>
        </div>
      </div>

      <div class="ctnPayment">
        <div class="title-payment">Hình thức thanh toán</div>
        <div class="form-group mt-2">
          <input type="radio" *ngIf="orderForm.payment == null" class="form-check-input inpForm inpPayment" checked value="COD" name="payment" id="inpCOD">
          <input type="radio" *ngIf="orderForm.payment != null && orderForm.payment == 'COD'" checked class="form-check-input inpForm inpPayment" checked value="COD" name="payment" id="inpCOD">
          <input type="radio" *ngIf="orderForm.payment != null && orderForm.payment != 'COD'" class="form-check-input inpForm inpPayment" checked value="COD" name="payment" id="inpCOD">
          <label for="inpCOD">Thanh toán khi giao hàng (COD)</label>
        </div>

        <!-- <div class="form-group mt-2">
          <input type="radio" *ngIf="orderForm.payment == null" class="form-check-input inpForm inpPayment" value="bank" name="payment" id="inpBank">
          <input type="radio" *ngIf="orderForm.payment != null && orderForm.payment == 'bank'" checked class="form-check-input inpForm inpPayment" value="bank" name="payment" id="inpBank">
          <input type="radio" *ngIf="orderForm.payment != null && orderForm.payment != 'bank'" class="form-check-input inpForm inpPayment" value="bank" name="payment" id="inpBank">
          <label label for="inpBank">Thanh toán qua ngân hàng</label>
          <div class="ctnMessageBank"></div>
        </div>

        <div class="form-group mt-2">
          <input type="radio" *ngIf="orderForm.payment == null" class="form-check-input inpForm inpPayment" value="momo" name="payment" id="inpMoMo">
          <input type="radio" *ngIf="orderForm.payment != null && orderForm.payment == 'momo'" checked class="form-check-input inpForm inpPayment" value="momo" name="payment" id="inpMoMo">
          <input type="radio" *ngIf="orderForm.payment != null && orderForm.payment != 'momo'" class="form-check-input inpForm inpPayment" value="momo" name="payment" id="inpMoMo">
          <label for="inpMoMo">Thanh toán qua momo</label>
          <div class="ctnMessageMoMo"></div>
        </div> -->
      </div>

      <div class="form-group">
        <button type="button" class="btn btnPayment">Hoàn tất thanh toán</button>
        <div class="message text-center">{{message.error}}</div>
      </div>
    </div>

    <div class="ctnProducts col-xl-6 col-lg-6">
      <div class="products">
        <div class="productD" *ngFor="let cart of carts">
          <div class="ctnImage position-relative">
            <span class="quantityP position-absolute start-100 translate-middle badge rounded-pille">
              {{cart.quantity}}
            </span>
            <div class="image"><img [src]="cart.imageUrl" loading="lazy"></div>
          </div>

          <div class="size-name">
            <div class="ctnName">
              <div class="name">{{cart.name}}</div>
              <div class="size" *ngIf="cart.name != cart.productDetail.size">{{cart.productDetail.size}}</div>
            </div>
            <div class="ctnPrice">
              <div class="price">{{(cart.quantity * cart.productDetail.price * (100 - cart.productDetail.discount) / 100).toLocaleString("vi-VN")}} đ</div>
            </div>
          </div>
        </div>
      </div>

      <div class="voucher">
        <div class="form-gorup">
          <div class="input-group w-75 mt-3">
            <input type="text" name="voucher" class="form-control inpFormVoucher inpVoucher" placeholder="Mã giảm giá">
            <button class="btn btnVoucher" type="button">Áp dụng</button>
          </div>
          <div class="message">{{this.message.voucher}}</div>
        </div>
      </div>

      <div class="paymentTotal mt-3">
        <div class="ctnProvisional">
          <div class="provisional">Tạm tính: </div>
          <div class="money">{{provisional.toLocaleString("vi-VN")}} đ</div>
        </div>

        <div class="ctnVoucher" *ngIf="orderForm.voucher != null">
          <div class="discount">Mã giảm giá: {{orderForm.voucher.discountCode}}<i class="fa-regular fa-circle-xmark deleteVoucher"></i></div>
          <div class="money" *ngIf="!orderForm.voucher.discountType">
            -{{(provisional - (provisional * (100 - orderForm.voucher.discount) / 100)).toLocaleString("vi-VN")}} đ
          </div>
          <div class="money" *ngIf="orderForm.voucher.discountType">
            -{{(provisional - (provisional - orderForm.voucher.discount)).toLocaleString("vi-VN")}} đ
          </div>
        </div>

        <div class="ctnShipFee">
          <div class="shipFee">Phí vận chuyển: </div>
          <div class="money" *ngIf="orderForm.shipFee == null">__</div>
          <div class="money" *ngIf="orderForm.shipFee != null">
            <ng-container *ngIf="orderForm.shipFee <= 0">Miễn phí</ng-container>
            <ng-container *ngIf="orderForm.shipFee > 0">{{orderForm.shipFee.toLocaleString("vi-VN")}} đ</ng-container>
          </div>
        </div>

        <hr>
        <div class="ctnPaymentTotal">
          <div class="total">Tổng cộng: </div>
          <div class="money" *ngIf="paymentTotal <= 0">__</div>
          <div class="money" *ngIf="paymentTotal > 0">{{paymentTotal.toLocaleString("vi-VN")}} đ</div>
        </div>
      </div>
    </div>
  </div>
</div>
