<app-menu></app-menu>
<div id="containerOrder" class="on-off-menu">
  <div class="loading text-center"><span class="loader"></span></div>
  <div class="table-orders table-responsive">
    <table class="table table-bordered mt-3 text-center">
      <tr>
        <th>Mã đơn</th>
        <th>Người đặt hàng</th>
        <th>Họ và tên</th>
        <th>Địa chỉ giao hàng</th>
        <th>Số điện thoại</th>
        <th>Ngày đặt hàng</th>
        <th>Trạng thái</th>
        <th>Loại thanh toán</th>
        <th></th>
      </tr>

      <tr *ngFor="let order of orders; let i = index" class="tr-orderupdateForm">
        <td>{{order.id}}</td>
        <td>{{order.user.email}}</td>
        <td>{{order.lastName +' '+ order.firstName}}</td>
        <td class="address">{{order.address.replaceAll('||', ',')}}</td>
        <td>{{order.phone}}</td>
        <td>{{order.createDate | date: 'dd-MM-yyyy mm:hh'}}</td>
        <td><span class="wait">{{order.status}}</span></td>
        <td>{{order.payment}}</td>
        <td>
          <div class="action">
            <button class="btn apply"[id]="order.id"><i class="fa-solid fa-check"></i> Duyệt</button>
            <span class="cancel" id="{{order.id}}"><i class="fa-solid fa-xmark"></i> Hủy</span>
            <span class="see-detail" [id]="order.id"><i class="fa-solid fa-eye" flag="true"></i> Xem</span>
          </div>
        </td>`
      </tr>
    </table>
    <div class="total">Tổng đơn hàng chưa duyệt: {{total}}</div>

    <ul id="paging" *ngIf="total > 0 && totalPage.length > 1">
      <span class="page" *ngIf="pageNumber > 1" (click)="setPageNumber(pageNumber - 1)"><li>Trước đó</li></span>
      <ng-container *ngFor="let i of totalPage">
        <ng-container *ngIf="i <= 5 && pageNumber <= 2">
          <ng-container *ngIf="i == pageNumber">
            <span class="page" (click)="setPageNumber(i)"><li style="background-color: rgb(253, 142, 105);">{{i}}</li></span>
          </ng-container>
          <ng-container *ngIf="i != pageNumber">
            <span class="page" (click)="setPageNumber(i)"><li>{{i}}</li></span>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="pageNumber > 2">
          <ng-container *ngIf="i >= pageNumber-2 && i <= pageNumber+2">
            <ng-container *ngIf="i==pageNumber">
              <span class="page" (click)="setPageNumber(i)"><li style="background-color: rgb(253, 142, 105);">{{i}}</li></span>
            </ng-container>
            <ng-container *ngIf="i!=pageNumber">
              <span class="page" (click)="setPageNumber(i)"><li>{{i}}</li></span>
            </ng-container>
          </ng-container>
        </ng-container>

      </ng-container>
      <span class="page" *ngIf="pageNumber < totalPage.length" (click)="setPageNumber(pageNumber + 1)"><li>Kế tiếp</li></span>
    </ul>
  </div>
</div>
