@media (max-width: 576px) {
  .formLogin form {
    max-width: 90%;
  }
}

.title {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 480;
  background: linear-gradient(90deg, rgba(255,211,153,1) 30%, rgba(192,255,177,1) 100%);
  color: orange;
}

.message {
  margin-top: 3px;
  color: red;
  font-size: medium;
}

.formLogin {
  display: flex;
  justify-content: center;
}

.formLogin form {
  padding: 5px;
}

.formLogin form label {
	font-size: medium;
	margin-bottom: 1px;
  margin-top: 14px;
}

.formLogin form .form-control:focus {
	box-shadow: 0 0 0 2px rgb(255, 222, 170);
  border-color: rgb(255, 222, 170);
}

.formLogin .forgot-pw {
  text-decoration: none;
  color: black;
}

.formLogin .forgot-pw:hover {
  color: rgb(255, 141, 2);
}

.formLogin .btnSubmit {
  border: solid 1px black;
  padding: 6px 60px;
  border-radius: 15px;
  font-size: medium;
  font-weight: 400;
  background-color: white;
  white-space: nowrap;
}

.formLogin .btnSubmit:hover {
  border: solid 1px white;
  color: white;
  background-color: rgb(255, 141, 2);
}

.formLogin .other-login {
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.formLogin .other-login>hr {
	width: 100%;
	margin: 0 3px;
}

.formLogin .loginOther {
  cursor: pointer;
	margin-top: 6px;
	padding: 8px;
	width: 100%;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 1px gray;
	font-size: medium;
	color: black;
}

.formLogin .loginOther>img {
	margin-right: 5px;
}

.formLogin .loginOther:hover{
  color: rgb(255, 141, 2);
}

.formLogin .register {
	margin-top: 20px;
	text-align: center;
	font-size: medium;
}

.formLogin .register>a {
	text-decoration: none;
	color: rgb(255, 141, 2);
}

.formLogin .register>a:hover{
	opacity: 0.8;
}
