@media (max-width: 576px) {
  .formRegister form {
    max-width: 90%;
  }
}

.title {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 480;
  background: linear-gradient(90deg, rgba(255,211,153,1) 30%, rgba(192,255,177,1) 100%);
  color: orange;
}

.message {
  margin-top: 3px;
  color: red;
  font-size: medium;
}

.formRegister {
  display: flex;
  justify-content: center;
}

.formRegister form {
  padding: 5px;
}

.formRegister form label {
	font-size: medium;
	margin-bottom: 1px;
  margin-top: 14px;
}

.formRegister form .form-control:focus {
	box-shadow: 0 0 0 2px rgb(255, 222, 170);
  border-color: rgb(255, 222, 170);
}

.formRegister .forgot-pw {
  text-decoration: none;
  color: black;
}

.formRegister .forgot-pw:hover {
  color: rgb(255, 141, 2);
}

.formRegister .btnSubmit {
  border: solid 1px black;
  padding: 6px 60px;
  border-radius: 15px;
  font-size: medium;
  font-weight: 400;
  background-color: white;
  white-space: nowrap;
}

.formRegister .btnSubmit:hover {
  border: solid 1px white;
  color: white;
  background-color: rgb(255, 141, 2);
}

.formRegister .login {
	margin-top: 20px;
	text-align: center;
	font-size: medium;
}

.formRegister .login>a {
	text-decoration: none;
	color: rgb(255, 141, 2);
}

.formRegister .login>a:hover{
	opacity: 0.8;
}
