<header>
  <!--Menu văn bản-->
  <div class="header-text row">
    <div class="contact col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-0 px-0 text-center">
      <span class="contact-hotline"><i class="fa-solid fa-phone"></i>Hotline : 048-234-7000</span>
      <span class="contact-mail"><i class="fa-regular fa-envelope"></i>soufoods6&#64;gmail.com</span>
    </div>

    <div class="register col-xl-5 col-lg-5 col-md-12 col-sm-12 mx-0 px-0 text-center">
      <a class="rg" href="/account/register">ĐĂNG KÝ TÀI KHOẢN</a>
      <span> ngay để nhận khuyến mãi<i class="fa-solid fa-gift"></i></span>
    </div>

    <div class="social-network col-xl-3 col-lg-3 mx-0 px-0 text-center"><i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-youtube"></i></div>
  </div>

  <!--Menu header-->
  <div class="header row">
    <!--Nav dạng mobile-->
    <span class="offcanvas-menu col-lg-1 col-md-1 col-sm-1 mx-0 px-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-menu" aria-controls="offcanvas-menu"><i class="fa-solid fa-bars"></i></span>
    <div class="offcanvas offcanvas-start px-0" tabindex="-1" id="offcanvas-menu" aria-labelledby="offcanvas-menuLabel">
      <div class="offcanvas-header p-2">
        <h5></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body p-0 menu-left">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <span class="nav-link active" id="pills-menu-tab" data-bs-toggle="pill" data-bs-target="#pills-menu" type="button" role="tab" aria-controls="pills-menu" aria-selected="true">MENU</span>
          </li>

          <li class="nav-item" role="presentation">
            <span class="nav-link" id="pills-shop-tab" data-bs-toggle="pill" data-bs-target="#pills-shop" type="button" role="tab" aria-controls="pills-shop" aria-selected="false">GIAN HÀNG</span>
          </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
          <ul class="tab-pane fade show active" id="pills-menu" role="tabpanel" aria-labelledby="pills-menu-tab" tabindex="0">
            <a class="menu-section" href=""><li><i class="fa-solid fa-house"></i> Home</li></a>
            <a class="menu-section" href=""><li><i class="fa-solid fa-medal" id="fa-modal"></i> Về chúng tôi</li></a>

            <li class="menu-mini" data-bs-toggle="collapse" data-bs-target="#menu-support" aria-expanded="false" aria-controls="menu-product">
              <div><span class="icon"><i class="fa-solid fa-headset"></i></span>Hỗ trợ khách hàng</div>
              <span class="right"><i class="fa-solid fa-angle-right"></i></span>
            </li>
            <ul class="collapse show-menuMini" id="menu-support">
              <a class="menu-section" href="/support/huong-dan-mua-hang"><li><i class="fa-solid fa-tags"></i> Hướng dẫn mua hàng</li></a>
              <a class="menu-section" href="/support/tinh-trang-giao-hang"><li><i class="fa-solid fa-tags"></i> Tình trạng giao hàng</li></a>
              <a class="menu-section" href="/support/khieu-nai-va-hoan-tien"><li><i class="fa-solid fa-tags"></i> Khiếu nại và hoàn tiền</li></a>
              <a class="menu-section" href="/support/cau-hoi-thuong-gap"><li><i class="fa-solid fa-tags"></i> Câu hỏi thường gặp</li></a>
              <a class="menu-section" href="/support/lien-he-chung-toi"><li><i class="fa-solid fa-tags"></i> Liên hệ chúng tôi</li></a>
            </ul>
            <a class="menu-section" href="/favorites"><li><i class="fa-regular fa-heart"></i> Yêu thích</li></a>
            <span class="menu-section" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-search" aria-controls="offcanvas-search"><li><i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm</li></span>

            <a class="menu-section action-block" block="/account/login" *ngIf="!authenticated()" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-user" aria-controls="offcanvas-user"><li><i class="fa-solid fa-user"></i> Đăng nhập / Đăng ký</li></a>
            <li *ngIf="authenticated()" class="menu-mini" data-bs-toggle="collapse" data-bs-target="#menu-myAccount" aria-expanded="false" aria-controls="menu-product">
              <div><span class="icon"><i class="fa-solid fa-user"></i></span>Tài khoản của tôi</div>
              <span class="right"><i class="fa-solid fa-angle-right"></i></span>
            </li>
            <ul *ngIf="authenticated()" class="collapse show-menuMini" id="menu-myAccount">
              <a class="menu-section" href="/account"><li><i class="fa-solid fa-tags"></i> Thông tin cá nhân</li></a>
              <a class="menu-section" href="/order-history"><li><i class="fa-solid fa-tags"></i> Lịch sử đặt hàng</li></a>
              <a class="menu-section" href="/vouchers"><li><i class="fa-solid fa-tags"></i> Mã giảm giá</li></a>
              <span class="menu-section" (click)="logout()"><li><i class="fa-solid fa-tags"></i> Đăng xuất</li></span>
            </ul>
          </ul>

          <ul class="tab-pane fade" id="pills-shop" role="tabpanel" aria-labelledby="pills-shop-tab" tabindex="0">
            <a class="menu-section" href="/collections"><li><i class="fa-solid fa-bolt"></i> Tất cả sản phẩm</li></a>

            <li class="menu-mini" data-bs-toggle="collapse" data-bs-target="#menu-promotion" aria-expanded="false" aria-controls="menu-product">
              <div><span class="icon"><i class="fa-solid fa-percent"></i></span>Khuyến mãi</div>
              <span class="right"><i class="fa-solid fa-angle-right"></i></span>
            </li>
            <ul class="collapse show-menuMini" id="menu-promotion">
              <a class="menu-section" href="/collections/category?id=-1&name=Sản%20phẩm%20ưu%20đãi"><li><i class="fa-solid fa-tags"></i> Sản phẩm ưu đãi</li></a>
              <a class="menu-section" href="/collections/category?id=-2&name=Sản%20phẩm%20bán%20chạy"><li><i class="fa-solid fa-tags"></i> Sản phẩm bán chạy</li></a>
            </ul>

            <ng-container *ngFor="let category of categories">
              <li class="menu-mini" data-bs-toggle="collapse" [attr.data-bs-target]="'#menu-category'+category.id" aria-expanded="false" aria-controls="menu-product">
                <div><span class="icon"><i class="fa-solid fa-hashtag"></i></span>{{category.name}}</div>
                <span class="right"><i class="fa-solid fa-angle-right"></i></span>
              </li>
              <ul class="collapse show-menuMini" [id]="'menu-category'+category.id">
                <ng-container *ngFor="let categoryD of category.categoryDetail">
                  <a class="menu-section" [href]="'/collections/category?id='+categoryD.id+'&name='+categoryD.size"><li><i class="fa-solid fa-tags"></i>{{categoryD.size}}</li></a>
                </ng-container>
              </ul>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>

    <!--Menu dạng web-->
    <div class="logo col-xl-2 col-lg-2 col-md-9 col-sm-9 mx-0 px-0">
      <a href=""><img src="assets/images/logo-soufoods.png" width="100%"></a>
    </div>

    <div class="nav-menu col-xl-5 col-lg-5">
      <ul class="menu">
        <li class="menu-hover menu-category position-relative">
          DANH MỤC
          <span class="badge-category position-absolute start-100 translate-middle badge rounded-pill">
            Sale
          </span>
          <i class="fa-solid fa-chevron-down"></i>

          <div class="menu-bar"></div>
          <div class="dropdown-menu dropdown-menu-hover dropdown-menu-category p-3" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 43px, 0px);">
            <div style="display: flex;">
              <div class="ctn-menu">
                <div class="title-menu">KHUYẾN MÃI</div>
                <div class="item-menu-category"><a href="/collections/category?id=-1&name=Sản%20phẩm%20ưu%20đãi">Sản phẩm ưu đãi</a></div>
                <div class="item-menu-category"><a href="/collections/category?id=-2&name=Sản%20phẩm%20bán%20chạy">Sản phẩm bán chạy</a></div>
                <div class="item-menu-category"><a href="/collections">Tất cả sản phẩm</a></div>
              </div>

              <div class="menu-category">
                <div class="ctn-menu" *ngFor="let category of categories">
                  <div class="title-menu">{{category.name | uppercase}}</div>
                  <div class="item-menu-category" *ngFor="let categoryD of category.categoryDetail">
                    <a [href]="'/collections/category?id='+categoryD.id+'&name='+categoryD.size">{{categoryD.size}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="menu-hover menu-support position-relative">
          HỖ TRỢ <i class="fa-solid fa-chevron-down"></i>

          <div class="menu-bar"></div>
          <div class="dropdown-menu dropdown-menu-hover dropdown-menu-support p-3" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 43px, 0px);">
            <div class="menu-support">
              <div class="ctn-menu">
                <div class="title-menu">HỖ TRỢ KHÁCH HÀNG</div>
                <div class="item-menu-support"><a href="/support/huong-dan-mua-hang">Hướng dẫn mua hàng</a></div>
                <div class="item-menu-support"><a href="/support/tinh-trang-giao-hang">Tình trạng giao hàng</a></div>
                <div class="item-menu-support"><a href="/support/khieu-nai-va-hoan-tien">Khiếu nại và hoàn tiền</a></div>
                <div class="item-menu-support"><a href="/support/cau-hoi-thuong-gap">Câu hỏi thường gặp</a></div>
                <div class="item-menu-support"><a href="/support/lien-he-chung-toi">Liên hệ chúng tôi</a></div>
              </div>

              <div class="ctn-menu">
                <div class="title-menu">TÀI KHOẢN</div>
                <div class="item-menu-support" *ngIf="!authenticated()"><a href="/account/login">Đăng nhập</a></div>
                <div class="item-menu-support" *ngIf="!authenticated()"><a href="/account/register">Đăng ký tài khoản</a></div>
                <div class="item-menu-support" *ngIf="!authenticated()"><a href="/account/forgot-password">Đặt lại mật khẩu</a></div>
                <div class="item-menu-support" *ngIf="authenticated()"><a href="/account">Thông tin cá nhân</a></div>
                <div class="item-menu-support" *ngIf="authenticated()"><a href="/order-history">Đơn hàng của tôi</a></div>
                <div class="item-menu-support"><a href="/favorites">Danh sách yêu thích</a></div>
                <div class="item-menu-support"><a href="/vouchers">Danh sách mã giảm giá</a></div>
                <div class="item-menu-support"><a href="/support/cach-su-dung-ma-giam-gia">Cách sử dụng mã giảm giá</a></div>
              </div>
            </div>
          </div>
        </li>

        <li class="menu-about-us">
          <a class="about-us" href="/about-us"><i class="fa-solid fa-medal" id="fa-modal"></i> VỀ CHÚNG TÔI</a>
        </li>
      </ul>
    </div>

    <!--Tìm kiếm-->
    <div class="action col-xl-5 col-lg-5 col-md-2 col-sm-2 mx-0 px-0">
      <form class="formSearch">
        <div class="input-group input-search-group">
          <input type="text" class="form-control inpProductSearch" placeholder="Tìm kiếm sản phẩm">
          <button type="submit" class="input-group-text btnProductSearch"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <ul class="dropdown-menu dropdown-menu-start p-0 mt-2 search-resultProduct search-resultProduct-web">
        </ul>
      </form>

      <span class="action-search" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-search" aria-controls="offcanvas-search"><i class="fa-solid fa-magnifying-glass"></i></span>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-search" aria-labelledby="offcanvas-searchLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvas-searchLabel">Tìm kiếm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form class="formSearch w-100">
            <div class="input-group">
              <input type="text" class="form-control inpProductSearch" placeholder="Tìm kiếm sản phẩm">
              <button type="submit" class="input-group-text btnProductSearch"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <ul class="dropdown-menu dropdown-menu-start p-0 mt-2 search-resultProduct">
            </ul>
          </form>
        </div>
      </div>

      <!--Menu thông tin đã xác thực-->
      <div class="menu-hover position-relative" *ngIf="authenticated()">
        <a class="action-user" href="/account"><i class="fa-solid fa-user"></i></a>

        <div class="menu-bar"></div>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-hover p-3" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 50px, 0px);">
          <a class="item-menu" href="/admin/dashboard" *ngIf="authorize('ADMIN')"><li>Admin</li></a>
          <a class="item-menu" href="/account"><li>Thông tin cá nhân</li></a>
          <a class="item-menu" href="/order-history"><li>Lịch sử đặt hàng</li></a>
          <a class="item-menu" href="/vouchers"><li>Mã giảm giá</li></a>
          <li class="item-menu" (click)="logout()">Đăng xuất</li>
        </ul>
      </div>

      <!--Đăng nhập-->
      <a class="action-user action-block" block="/account/login" *ngIf="!authenticated()" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-user" aria-controls="offcanvas-user"><i class="fa-solid fa-user"></i></a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-user" aria-labelledby="offcanvas-userLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvas-userLabel">ĐĂNG NHẬP</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="formLogin row mx-0">
            <form #loginForm="ngForm" (submit)="login(loginForm)">
              <div class="form-group">
                <label>Email</label>
                <input type="text" ngModel name="email" class="form-control inpFormLogin">
              </div>

              <div class="form-group">
                <label>Mật khẩu</label>
                <input type="password" ngModel name="password" class="form-control inpFormLogin">
              </div>

              <div class="message">{{message.error}}</div>

              <div class="form-group my-3">
                <a class="forgot-pw" href="/account/forgot-password">Bạn đã quên mật khẩu?</a>
              </div>

              <div class="text-center"><button type="subbmit" class="btn btnSubmit btnLoginToMenu">Đăng nhập</button></div>

              <div class="other-login"><hr><span>HOẶC</span><hr></div>
              <div class="loginOther" (click)="loginWidthFacebook()">
                <img src="/assets/images/icon-fb.png" width="30px" height="30px"> Tiếp tục với Facebook
              </div>
              <div class="loginOther">
                <asl-google-signin-button></asl-google-signin-button>
                 Tiếp tục với Google
              </div>

              <div class="register">Bạn chưa có tài khoản? <a href="/account/register">Đăng ký ngay</a></div>
            </form>
          </div>
        </div>
      </div>

      <!--Yêu thích sản phẩm-->
      <a href="/favorites" class="action-favorite position-relative">
        <i class="fa-solid fa-heart"></i>
        <span class="count-favorite position-absolute start-100 translate-middle badge rounded-pille">
          0
        </span>
      </a>

      <!--Giỏ hàng-->
      <a class="action-cart position-relative action-block" block="/cart" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-cart" aria-controls="offcanvas-cart">
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="count-cart position-absolute start-100 translate-middle badge rounded-pille">
          0
        </span>
      </a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-cart" aria-labelledby="offcanvas-cartLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvas-cartLabel">GIỎ HÀNG</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
          <div class="ctnProductCarts">
          </div>

          <div class="loading-cart"><span class="loader3"></span></div>
          <div class="not-cart">
            <i class="fa-solid fa-basket-shopping icon"></i>
            <div class="message-cart">Giỏ hàng của bạn hiện đang trống.</div>
            <a href="/collections/category?id=0&name=T%E1%BA%A5t%20c%E1%BA%A3%20s%E1%BA%A3n%20ph%E1%BA%A9m"><span class="see-all">XEM SẢN PHẨM</span></a>
          </div>
        </div>
        <div class="offcanvas-footer-cart">
          <div class="ctnProvisional">
            <div class="provisional">Tạm tính:</div>
            <div class="total-cart">0 đ</div>
          </div>

          <div class="other-price"><b>Phí ship</b> và <b>mã giảm giá </b> sẽ được tính ở trang thanh toán.</div>

          <a href="/cart"><div class="see-cart">XEM GIỎ HÀNG</div></a>
        </div>
      </div>
    </div>
  </div>

  <div class="scrollUp"><i class="fa-solid fa-circle-chevron-up"></i></div>
</header>

<!--Thêm giỏ hàng (mua nhanh)-->
<div class="show-addCart"></div>
<div class="ctnAddCart">
  <div class="addCart">
    <div class="close-addCart"><i class="fa-solid fa-x"></i></div>
    <a class="product-cart">
      <div class="image-cart"><img loading="lazy"></div>
      <div class="name-size">
      </div>
    </a>

    <div class="product-size">
      <div class="name"></div>
      <div class="ctnSize">
      </div>
    </div>

    <div class="product-quantity">
      <div class="ctnQuantity">
        <button class="btnMinus"><i class="fa-solid fa-minus"></i></button>
        <div class="quantity">1</div>
        <button class="btnPlus"><i class="fa-solid fa-plus"></i></button>
      </div>
    </div>
    <div class="message-quantity"></div>

    <div class="text-center mb-3"><button class="btnFastAddCart">THÊM VÀO GIỎ</button></div>
  </div>
</div>

<!--Menu mobile dạng ở dưới cùng-->
<div class="menu-bottom">
  <a class="item-menu-bottom" href="">
    <i class="fa-solid fa-house"></i>
    <div>Home</div>
  </a>

  <a class="item-menu-bottom action-block" block="/cart" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-cart" aria-controls="offcanvas-cart">
    <span class="position-relative">
      <i class="fa-solid fa-cart-shopping"></i>
      <span class="count-cart count-cart-menu position-absolute start-100 translate-middle badge rounded-pille">
        0
      </span>
    </span>
    <div>Giỏ hàng</div>
  </a>

  <a class="item-menu-bottom" href="/account" *ngIf="authenticated()">
    <i class="fa-solid fa-user"></i>
    <div>Tài khoản</div>
  </a>
  <a class="item-menu-bottom action-block" block="/account/login" *ngIf="!authenticated()" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-user" aria-controls="offcanvas-user">
    <i class="fa-solid fa-user"></i>
    <div>Tài khoản</div>
  </a>

  <div class="item-menu-bottom" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-search" aria-controls="offcanvas-search">
    <i class="fa-solid fa-magnifying-glass"></i>
    <div>Tìm kiếm</div>
  </div>

  <div class="item-menu-bottom offcanvas-menu" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-menu" aria-controls="offcanvas-menu">
    <i class="fa-solid fa-bars"></i>
    <div>Menu</div>
  </div>
</div>
