@media (max-width: 576px) {
  .formForgot form {
    max-width: 90%;
  }

  .formForgotCf form {
    max-width: 90%;
  }
}

.title {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 480;
  background: linear-gradient(90deg, rgba(255,211,153,1) 30%, rgba(192,255,177,1) 100%);
  color: orange;
}

.message {
  margin-top: 3px;
  color: red;
  font-size: medium;
}

/*Khôi phục mật khẩu*/
.formForgot {
  display: flex;
  justify-content: center;
}

.formForgot form {
  padding: 5px;
}

.formForgot form label {
	font-size: medium;
	margin-bottom: 1px;
  margin-top: 14px;
}

.formForgot form .form-control:focus {
	box-shadow: 0 0 0 2px rgb(255, 222, 170);
  border-color: rgb(255, 222, 170);
}

.formForgot .btnSubmit {
  border: solid 1px black;
  padding: 6px 60px;
  border-radius: 15px;
  font-size: medium;
  font-weight: 400;
  background-color: white;
  white-space: nowrap;
}

.formForgot .btnSubmit:hover {
  border: solid 1px white;
  color: white;
  background-color: rgb(255, 141, 2);
}

.formForgot a {
  text-decoration: none;
}

.formForgot .btnCancel {
  border: solid 1px white;
  padding: 6px 50px;
  border-radius: 15px;
  font-size: medium;
  color: white;
  font-weight: 400;
  background-color: green;
  white-space: nowrap;
}

.formForgot .btnCancel:hover {
  opacity: 0.8;
}

.formForgot .login>a:hover{
	opacity: 0.8;
}

/*Xác nhận code và đổi mật khẩu*/
.formForgotCf {
  display: flex;
  justify-content: center;
}

.formForgotCf form {
  padding: 5px;
}

.formForgotCf form label {
	font-size: medium;
	margin-bottom: 1px;
  margin-top: 14px;
}

.formForgotCf form .form-control:focus {
	box-shadow: 0 0 0 2px rgb(255, 222, 170);
  border-color: rgb(255, 222, 170);
}

.formForgotCf .btnSubmit {
  border: solid 1px black;
  padding: 6px 60px;
  border-radius: 15px;
  font-size: medium;
  font-weight: 400;
  background-color: white;
  white-space: nowrap;
}

.formForgotCf .btnSubmit:hover {
  border: solid 1px white;
  color: white;
  background-color: rgb(255, 141, 2);
}

.formForgotCf a {
  text-decoration: none;
}

.formForgotCf .btnCancel {
  border: solid 1px white;
  padding: 6px 50px;
  border-radius: 15px;
  font-size: medium;
  color: white;
  font-weight: 400;
  background-color: green;
  white-space: nowrap;
  cursor: pointer;
}

.formForgotCf .btnCancel:hover {
  opacity: 0.8;
}

.formForgotCf .login>a:hover{
	opacity: 0.8;
}

.formForgotCf .currentTime {
  padding: 3px 0;
  width: 75px;
  text-align: center;
  border-radius: 6px;
  margin-left: 3px;
  background-color: rgb(255, 141, 2);
  color: white;
  font-weight: 500;
  white-space: nowrap;
}
