#containerCategory {
  margin: 5px;
}

.message {
  color: red;
  font-size: large;
}

/* Modal */
.table > :not(caption) > * > * {
  background-color: transparent;
}

.modal-body {
  text-align: left;
}

.modal {
  --bs-modal-width: 60%;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-footer .btnCancel {
  margin: 0 8px;
}

.change-message {
  color: green;
  font-size: large;
}

.updateForm label {
  margin-top: 8px;
}

.form-control:focus {
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.25);
}

.form-select:focus {
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.25);
}

#containerCategory .actived {
  margin: 2px;
  padding: 2px 4px;
  border-radius: 6px;
  background-color: rgb(89, 255, 47);
  white-space: nowrap;
  color: white;
  user-select: none;
}

#containerCategory .unActive {
  margin: 2px;
  padding: 2px 4px;
  border-radius: 6px;
  background-color: lightcoral;
  white-space: nowrap;
  color: white;
  user-select: none;
}

#containerCategory table,
tr,
td,
th {
  border: solid 1px lightgray;
  border-collapse: collapse;
}

#containerCategory table td {
  padding: 3px;
}

#containerCategory table th {
  padding: 8px;
  font-size: 16px;
}

#containerCategory .action .remove {
  margin: 2px;
  padding: 3px 6px;
  border-radius: 6px;
  background-color: lightcoral;
  white-space: nowrap;
  color: white;
  user-select: none;
  cursor: pointer;
}

#containerCategory .action .edit {
  margin: 2px;
  text-decoration: none;
  padding: 3px 6px;
  border-radius: 6px;
  background-color: deepskyblue;
  white-space: nowrap;
  color: white;
  user-select: none;
  cursor: pointer;
}

#containerCategory .action .remove:hover,
.edit:hover {
  opacity: 0.8;
}

#containerCategory .ctnImage {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 150px;
  height: 150px;
}

#containerCategory .ctnImage .uploadImage {
  cursor: pointer;
  border: solid 1px lightgray;
}

#containerCategory .ctnImage .removeImage {
  display: none;
  position: absolute;
  color: gray;
  cursor: pointer;
  padding: 2px;
  background-color: white;
  opacity: 0.6;
}

#containerCategory .ctnImage .removeImage:hover {
  opacity: 1;
}

/* paging */
#paging {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#paging .page {
  text-decoration: none;
  color: white;
}

#paging .page > li {
  display: block;
  padding: 5px 12px;
  background-color: rgba(246, 166, 68, 0.8);
  cursor: pointer;
  user-select: none;
}

#paging .page:hover {
  opacity: 0.8;
}
