<app-header></app-header>
<div class="loading-data mt-3" *ngIf="product == null"><span class="loader3"></span></div>
<ng-container *ngIf="product != null">
  <title>{{product.name}} - Soufoods</title>
  <div class="container-fulid instruction">
    <div class="container">
      <div class="ins">
        <a href="">Trang chủ</a>
        <span><i class="fa-solid fa-angle-right"></i><a [href]="'/collections/category?id='+product.categoryDetail.id+'&name='+product.categoryDetail.size">{{product.categoryDetail.size}}</a></span>
        <span><i class="fa-solid fa-angle-right"></i>{{product.name}}</span>
      </div>
    </div>
  </div>

  <div class="container" id="containerProduct">
    <div class="row p-0 m-0">
      <div class="ctnImage col-xl-6 col-lg-6 col-md-6">
        <ngx-slick-carousel class="carousel product" #slickModal="slick-carousel" [config]="productImageConfig">
          <div class="image"><img ngxSlickItem [src]="product.imageUrl"></div>
          <div class="image" *ngFor="let image of product.images">
            <img ngxSlickItem [src]="image.url">
          </div>
        </ngx-slick-carousel>

        <div class="viewDetailImage image">
          <img [src]="product.imageUrl" width="100%" height="100%">
          <div class="viewImage" *ngIf="product.images && product.images.length >= 0">{{'Xem '+ (product.images.length + 1) +' hình'}}</div>
        </div>
        <!--Show nhiều hình ảnh-->
        <div class="show-detailImage">
          <i class="hidden-detailImage fa-solid fa-x"></i>
        </div>
        <div class="show-images">
          <div class="row p-0 m-0">
              <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7">
                <img class="imagesP" [src]="product.imageUrl" width="100%" height="100%">
              </div>
              <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7" *ngFor="let image of product.images">
                <img class="imagesP" [src]="image.url" width="100%" height="100%">
              </div>
          </div>
        </div>
      </div>

      <div class="ctnInfo col-xl-6 col-lg-6 col-md-6">
        <div class="name">{{product.name}}</div>
        <div class="review-product" *ngIf="(rate + 1) != 0">
          <ng-container *ngFor="let i of arrRate(rate)">
            <i class="fa-solid fa-star" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
          </ng-container>
          <ng-container *ngIf="!checkNumber(rate)">
            <i class="fa-solid fa-star-half-stroke" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
          </ng-container>
          <ng-container *ngIf="checkNumber(rate)">
            <i class="fa-solid fa-star" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
          </ng-container>

          <span>{{total}} đánh giá</span>
          <span class="see-review">[Xem thêm]</span>
        </div>

        <del class="price-del" *ngIf="product.showDiscount > 0">{{product.showPriceDel}} đ</del>
        <span class="price">{{product.showPrice}} đ</span>
        <div *ngIf="product.showDiscount > 0" class="promotion">
          <span class="discount">-{{product.showDiscount}}%</span>
          <span class="save-money">Tiết kiệm {{product.saveMoney}} đ</span>
        </div>
        <div class="active">
          Tính trạng: <ng-container *ngIf="product.outStock">Còn hàng</ng-container> <ng-container *ngIf="!product.outStock">Hết hàng</ng-container>
        </div>

        <div class="describes">
          <ng-container *ngIf="product.describes.length > 110">
            {{product.describes.substring(0, 110).replaceAll('&lt;br>', " - ")}}...
          </ng-container>
          <ng-container *ngIf="product.describes.length < 110">
            {{product.describes.replaceAll('&lt;br>', " - ")}}
          </ng-container>
          <span class="see-describes">[Xem thêm]</span>
        </div>

        <div class="ctnSize" *ngIf="product.productDetail && product.productDetail.length > 1">
          <div class="name-size">SIZE: {{product.showSize}}</div>
          <div class="sizes">
            <ng-container *ngFor="let productD of product.productDetail">
              <del *ngIf="productD.quantity == 0" class="size-del">{{productD.size}}</del>
              <span *ngIf="productD.quantity != 0 && product.showSize == productD.size" [id]="productD.id" class="size">{{productD.size}}</span>
              <span *ngIf="productD.quantity != 0 && product.showSize != productD.size" [id]="productD.id" class="size" style="background-color: white; color: black; border: solid 1px lightgrey">{{productD.size}}</span>
            </ng-container>
          </div>
        </div>
        <div class="message-quantity"></div>

        <div class="action-productDetail">
          <div class="ctnQuantity" *ngIf="product.outStock">
            <button class="btnMinus" disabled [id]="product.productDetailId"><i class="fa-solid fa-minus"></i></button>
            <div class="quantity">1</div>
            <button class="btnPlus" [id]="product.productDetailId"><i class="fa-solid fa-plus"></i></button>
          </div>

          <div class="ctnAddCart" *ngIf="product.outStock">
            <button class="btnAddCartP" [id]="product.productDetailId">THÊM VÀO GIỎ</button>
          </div>
          <div class="ctnAddCart" *ngIf="!product.outStock">
            <button class="btnOutStock" disabled>HẾT HÀNG</button>
          </div>

          <div class="ctnFavorite">
            <button class="btnFavorite" [id]="product.id" *ngIf="product.favorite == false"><i class="fa-regular fa-heart favorite" [id]="product.id"></i></button>
            <button class="btnFavorite" [id]="product.id" *ngIf="product.favorite == true"><i class="fa-solid fa-heart favorite" [id]="product.id"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Thông tin sản phẩm - đánh giá-->
  <div class="container-fulid" style="margin-top: 60px; padding: 30px 0; background-color: rgb(255, 246, 234);">
    <div class="container" id="containerInfo">
      <!-- Thông tin -->
      <div class="menu-info">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <span class="nav-link item-info active" id="pills-infoP-tab" data-bs-toggle="pill" data-bs-target="#pills-infoP" type="button" role="tab" aria-controls="pills-infoP" aria-selected="true">THÔNG TIN CÁ NHÂN</span>
          </li>

          <li class="nav-item" role="presentation">
            <span class="nav-link item-info" id="pills-review-tab" data-bs-toggle="pill" data-bs-target="#pills-review" type="button" role="tab" aria-controls="pills-review" aria-selected="false">ĐÁNH GIÁ SẢN PHẨM</span>
          </li>
        </ul>
      </div>

      <!-- Hiển thị rated và đánh giá -->
      <div class="tab-content mt-4" id="pills-tabContent">
        <ul class="tab-pane fade p-0 show active" id="pills-infoP" role="tabpanel" aria-labelledby="pills-infoP-tab" tabindex="0">
          <p [innerHTML]="product.describes"></p>
        </ul>

        <ul class="tab-pane fade p-0" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab" tabindex="0">
         <div class="feedback">
          <div class="title-feedback">PHẢN HỒI TỪ KHÁCH HÀNG</div>

          <div class="ctnFeedback" *ngIf="(rate + 1) != 0">
            <div class="review text-center">
              <ng-container *ngFor="let i of arrRate(rate)">
                <i class="fa-solid fa-star" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
              </ng-container>
              <ng-container *ngIf="!checkNumber(rate)">
                <i class="fa-solid fa-star-half-stroke" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
              </ng-container>
              <ng-container *ngIf="checkNumber(rate)">
                <i class="fa-solid fa-star" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
              </ng-container>
              <span>{{rate + 1}} trên 5 sao</span>
              <div>Dựa trên {{total}} đánh giá</div>
            </div>

            <div class="review">
              <div class="ctnRate fiveStar">
                <ng-container *ngFor="let i of arrRate(5)">
                  <i class="fa-solid fa-star" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
                </ng-container>
                <div class="progress-rate">
                  <span class="rated" [style]="'width: '+ (rates[0]/total) * 100 +'%;'"></span>
                  <span class="unRated"></span>
                </div>

                <div class="totalRate">{{rates[0]}}</div>
              </div>

              <div class="ctnRate fourStar">
                <ng-container *ngFor="let i of arrRate(5)">
                  <i *ngIf="i <= 3" class="fa-solid fa-star" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
                  <i *ngIf="i > 3" class="fa-regular fa-star" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
                </ng-container>
                <div class="progress-rate">
                  <span class="rated" [style]="'width: '+ (rates[1]/total) * 100 +'%;'"></span>
                  <span class="unRated"></span>
                </div>

                <div class="totalRate">{{rates[1]}}</div>
              </div>

              <div class="ctnRate threeStar">
                <ng-container *ngFor="let i of arrRate(5)">
                  <i *ngIf="i <= 2" class="fa-solid fa-star" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
                  <i *ngIf="i > 2" class="fa-regular fa-star" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
                </ng-container>
                <div class="progress-rate">
                  <span class="rated" [style]="'width: '+ (rates[2]/total) * 100 +'%;'"></span>
                  <span class="unRated"></span>
                </div>

                <div class="totalRate">{{rates[2]}}</div>
              </div>

              <div class="ctnRate twoStar">
                <ng-container *ngFor="let i of arrRate(5)">
                  <i *ngIf="i <= 1" class="fa-solid fa-star" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
                  <i *ngIf="i > 1" class="fa-regular fa-star" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
                </ng-container>
                <div class="progress-rate">
                  <span class="rated" [style]="'width: '+ (rates[3]/total) * 100 +'%;'"></span>
                  <span class="unRated"></span>
                </div>

                <div class="totalRate">{{rates[3]}}</div>
              </div>

              <div class="ctnRate oneStar">
                <ng-container *ngFor="let i of arrRate(5)">
                  <i *ngIf="i <= 0" class="fa-solid fa-star" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
                  <i *ngIf="i > 0" class="fa-regular fa-star" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
                </ng-container>
                <div class="progress-rate">
                  <span class="rated" [style]="'width: '+ (rates[4]/total) * 100 +'%;'"></span>
                  <span class="unRated"></span>
                </div>

                <div class="totalRate">{{rates[4]}}</div>
              </div>
            </div>
          </div>

          <div style="text-align: center; color: grey; margin: 10px 0;" *ngIf="(rate + 1) == 0">
            CHƯA CÓ ĐÁNH GIÁ NÀO !
          </div>

          <div class="ctnReview">
            <div class="formReview col-xl-5 col-lg-7 col-md-8 col-sm-9 text-center">
              <div class="title-review mt-2">CHIA SẺ NHẬN XÉT CỦA BẠN</div>
              <div class="form-gorup">
                <label>Đánh giá xếp hạng</label>
                <div class="ctnReviewStar">
                  <i class="fa-regular fa-star review-star" value="1"></i>
                  <i class="fa-regular fa-star review-star" value="2"></i>
                  <i class="fa-regular fa-star review-star" value="3"></i>
                  <i class="fa-regular fa-star review-star" value="4"></i>
                  <i class="fa-regular fa-star review-star" value="5"></i>
                </div>
                <div class="message">{{message.rate}}</div>
              </div>

              <div class="form-gorup">
                <label>Nhận xét</label>
                <textarea rows="4" name="content" class="form-control inpForm inpContent" placeholder="Viết nhận xét của bạn ở đây"></textarea>
                <div class="message">{{message.content}}</div>
              </div>

              <div class="form-gorup">
                <label>Hình ảnh</label>
                <input style="display: none;" type="file" name="images" class="fileImages inpImage" multiple><br>
                <button class="uploadImages"><i class="fa-solid fa-arrow-up-from-bracket"></i></button>
                <div class="ctnImages mt-2"></div>
                <div class="message">{{message.images}}</div>
              </div>

              <div class="form-gorup">
                <label>Tên của bạn</label>
                <input type="text" name="name" class="form-control inpForm inpName" placeholder="Nhập tên của bạn ở đây">
                <div class="message">{{message.name}}</div>
              </div>

              <div class="form-group">
                <button class="btnSendReview">Gửi nhận xét</button>
              </div>
            </div>
          </div>

          <div class="ctnComments mt-4">
            <div class="comment" style="padding: 10px; margin: 10px 0; font-size: 14px; background-color: white; border-radius: 10px;" *ngFor="let review of reviews">
              <div style="display: flex; justify-content: space-between; align-items: center;">
                <div class="rated">
                  <span style="font-size: 15px; margin-right: 5px;">{{review.name}}</span>
                  <ng-container *ngFor="let i of arrRate(5)">
                    <i *ngIf="i <= review.rate - 1" class="fa-solid fa-star" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
                    <i *ngIf="i > review.rate - 1" class="fa-regular fa-star" style="color: rgb(248, 196, 74); margin-right: 3px;"></i>
                  </ng-container>
                </div>
                <div class="createDate" style="color: grey;">
                  {{review.createDate | date: 'dd/MM/yyyy'}}
                </div>
              </div>

              <div class="content mt-1" [innerHTML]="review.content"></div>

              <div class="viewDetailImage image" *ngIf="review.images && review.images.length > 0">
                <img [src]="review.images[0].url" width="100%" height="100%">
                <div class="viewImage">{{'Xem '+ (review.images.length) +' hình'}}</div>
              </div>
              <!--Show nhiều hình ảnh-->
              <div class="show-detailImage" *ngIf="review.images && review.images.length > 0">
                <i class="hidden-detailImage fa-solid fa-x"></i>
              </div>
              <div class="show-images" *ngIf="review.images && review.images.length > 0">
                <div class="row p-0 m-0">
                    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7" *ngFor="let image of review.images">
                      <img class="imagesP" [src]="image.url" width="100%" height="100%">
                    </div>
                </div>
              </div>
            </div>
          </div>

          <ul id="paging" *ngIf="total > 0 && totalPage.length > 1 && pageNumber < totalPage.length">
            <button class="btnPage" (click)="setPageNumber(pageNumber + 1)">Xem thêm đánh giá <i class="fa-solid fa-angle-down"></i></button>
          </ul>
         </div>
        </ul>
      </div>
    </div>
  </div>

  <!-- Sản phẩm tương tự -->
  <div class="container" id="containerSimilar">
    <div class="title-similar"><i class="fa-solid fa-tags"></i> CÓ THỂ BẠN QUAN TÂM</div>
    <ngx-slick-carousel class="carousel product" #slickModal="slick-carousel" [config]="productSimilaireConfig">
      <div ngxSlickItem class="productD" *ngFor="let product of productSimilaire">
        <div class="left-labeling">
          <div class="ctnLabeling">
            <button class="btnFavorite" [id]="product.id" *ngIf="product.favorite == false"><i class="fa-regular fa-heart favorite" [id]="product.id"></i></button>
            <button class="btnFavorite" [id]="product.id" *ngIf="product.favorite == true"><i class="fa-solid fa-heart favorite" [id]="product.id"></i></button>
          </div>
        </div>

        <div class="right-labeling">
          <div class="ctnLabeling">
            <div class="discount" *ngIf="product.showDiscount > 0">-{{product.showDiscount}}%</div>
            <div class="type" *ngIf="product.type != null && product.type != ''">{{product.type}}</div>
            <div class="outStock" *ngIf="product.outStock == false">Hết hàng</div>
          </div>
        </div>

        <a [href]="'/collections/product?id='+product.id+'&name='+product.name">
          <div class="image"><img [src]="product.imageUrl" loading="lazy"></div>
        </a>

        <div class="bottom-labeling">
          <div class="ctnLabeling">
            <button class="btnSeeProduct" *ngIf="product.outStock == false"><i class="fa-solid fa-exclamation seeProduct"></i></button>
            <button class="btnAddCart" [id]="product.id" *ngIf="product.outStock == true">
              <i class="fa-solid fa-cart-shopping addCart"></i>
            </button>
          </div>
        </div>

        <div class="name">
          <div class="size">{{product.name}}</div>
          <div class="price">{{product.showPrice}} đ</div>
          <del class="price-del" *ngIf="product.showPriceDel != null && product.showPriceDel != ''">{{product.showPriceDel}} đ</del>
          <div class="showSize">{{product.showSize}}</div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</ng-container>
<app-footer></app-footer>
