@media (max-width: 768px) {
  .ctnProductInCart .productD .product .size-name {
    font-size: 13px;
  }

  .ctnProductInCart .productD .ctnPrice .price,
  .ctnPrice .price-del,
  .ctnTotal .total {
    font-size: 14px;
  }

  #containerCart .ctnProductInCart .productD .ctnQuantity {
    font-size: 14px;
  }

  #containerCart .ctnProductInCart .productD .ctnQuantity .quantity {
    margin: 0 10px;
  }

  #containerCart .ctnProductInCart .productD .ctnQuantity .ctnQtity {
    padding: 2px 5px;
  }

  .ctnNote, .ctnPayment {
    width: 100%;
    text-align: center;
  }

  .ctnPayment {
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .ctnProductInCart .productD .product .size-name {
    font-size: 14px;
  }

  .ctnProductInCart .productD .ctnPrice .price,
  .ctnPrice .price-del,
  .ctnTotal .total {
    font-size: medium;
  }

  #containerCart .ctnProductInCart .productD .ctnQuantity .quantity {
    margin: 0 20px;
  }

  #containerCart .ctnProductInCart .productD .ctnQuantity .ctnQtity {
    padding: 2px 10px;
  }

  .ctnPayment {
    text-align: right;
  }
}

.title {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 480;
  background: linear-gradient(
    90deg,
    rgba(255, 211, 153, 1) 30%,
    rgba(192, 255, 177, 1) 100%
  );
  color: orange;
}

#containerCart {
  margin-top: 30px;
}

#containerCart .ctnProductInCart .title-product {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: solid 1px lightgray;
  font-weight: 500;
}

#containerCart .ctnProductInCart .title-product .title-total-cart,
.ctnProductInCart .productD .ctnTotal {
  text-align: right;
}

#containerCart .ctnProductInCart .productD {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#containerCart .ctnProductInCart .productD .product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#containerCart .ctnProductInCart .productD .product .image {
  margin-right: 10px;
  background-color: white;
  height: 120px;
  width: 120px;
  background-image: url(../../assets/images/loading-image.gif);
  background-position: 70% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  object-position: center center;
  overflow: hidden;
  position: relative;
}

#containerCart .ctnProductInCart .productD .product .image img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: contain;
  object-position: center center;
}

#containerCart .ctnProductInCart .productD .product .name {
  max-width: 175px;
  font-weight: 500;
}

#containerCart .ctnProductInCart .productD .product .size {
  color: grey;
}

#containerCart .ctnProductInCart .productD .product .btnUpdateInCart {
  border: none;
  background-color: transparent;
  color: grey;
  font-size: 16px;
  margin-right: 15px;
}

#containerCart .ctnProductInCart .productD .product .btnDeleteInCart {
  border: none;
  background-color: transparent;
  color: grey;
  font-size: 16px;
}

#containerCart .ctnProductInCart .productD .ctnPrice .price {
  color: orange;
}

#containerCart .ctnProductInCart .productD .ctnPrice .price-del {
  color: grey;
}

#containerCart .ctnProductInCart .productD .ctnQuantity {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

#containerCart .ctnProductInCart .productD .ctnQtity {
  padding: 2px 10px;
  border-radius: 20px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#containerCart .ctnProductInCart .productD .ctnQtity .btnMinus,
.ctnQtity .btnPlus {
  border: none;
  background-color: transparent;
}

#containerCart .ctnProductInCart .productD .ctnTotal .total {
  color: orange;
}

#containerCart .ctnProductInCart .message-quantity {
  text-align: center;
  color: red;
  font-size: medium;
  border-bottom: solid 1px lightgrey;
}

.ctnPayment .provisional {
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
}

.ctnPayment .total-cart {
  font-size: medium;
  color: orange;
}

.ctnPayment .btnPaymentCart {
  margin-top: 20px;
  border: none;
  padding: 8px 80px;
  border-radius: 20px;
  background-color: rgb(255, 176, 80);
  color: white;
}

.ctnPayment .btnPaymentCart:hover {
  opacity: 0.8;
}

label {
	margin-bottom: 3px;
}

.form-control:focus {
	box-shadow: 0 0 0 2px rgb(255, 222, 170);
  border-color: rgb(255, 222, 170);
}

.not-in-cart {
  margin-top: 40px;
  text-align: center;
  padding: 20px 10px;
}

.not-in-cart .icon {
  font-size: 100px;
  color: grey;
}

.not-in-cart .message-cart {
  font-size: large;
  margin: 20px 0;
}

.not-in-cart a {
  text-decoration: none;
  color: black;
}

.not-in-cart .see-all {
  padding: 6px 40px;
  border-radius: 20px;
  background-color: rgb(255, 176, 80);
  color: white;
  font-size: large;
}

.not-in-cart .see-all:hover {
  opacity: 0.8;
}
