<title>{{name}} - Soufoods</title>
<app-header></app-header>
<div class="title">{{name | uppercase}}</div>
<div class="container-fulid instruction">
  <div class="container">
    <div class="ins">
      <a href="">Trang chủ</a>
      <span><i class="fa-solid fa-angle-right"></i>{{name}}</span>
    </div>
  </div>
</div>

<div class="container" id="filter">
  <div class="ctnFilter">
    <div class="ctnBtnFilter">
      <button class="btnFilter" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-filter" aria-controls="offcanvas-filter"><i class="fa-solid fa-filter"></i> <span>Bộ lọc</span></button>
      <button class="btnCloseFilter"><i class="fa-regular fa-circle-xmark"></i> <span>Tắt lọc</span></button>
    </div>
    <button class="btnCategory" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-category" aria-controls="offcanvas-category"><i class="fa-solid fa-table"></i> <span>Danh mục</span></button>
  </div>

  <!-- modal filter -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas-filter" aria-labelledby="offcanvas-filterLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvas-cartLabel">BỘ LỌC</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="form-group">
        <div class="title-active-filter">Trạng thái hàng</div>
        <div class="d-flex">
          <div class="form-check form-switch">
            <input class="form-check-input input-filter active-quantity" id="active-stocking" key="quantity" value-checked="1" value-unchecked="null" type="checkbox" role="switch" style="cursor: pointer; box-shadow: none;">
            <label class="label-filter" for="active-stocking" style="user-select: none;">còn hàng</label>
          </div>
          <div class="form-check form-switch mx-3">
            <input class="form-check-input input-filter active-quantity" id="active-outStock" key="quantity" value-checked="0" value-unchecked="null" type="checkbox" role="switch" style="cursor: pointer; box-shadow: none;">
            <label class="label-filter" for="active-outStock" style="user-select: none;">hết hàng</label>
          </div>
        </div>

        <div class="d-flex">
          <div class="form-check form-switch">
            <input class="form-check-input input-filter active-discount" id="active-discount" key="discount" value-checked="1" value-unchecked="null" type="checkbox" role="switch" style="cursor: pointer; box-shadow: none;">
            <label class="label-filter" for="active-discount" style="user-select: none;">ưu đãi</label>
          </div>
          <div class="form-check form-switch mx-3">
            <input class="form-check-input input-filter active-discount" id="active-unDiscount" key="discount" value-checked="0" value-unchecked="null" type="checkbox" role="switch" style="cursor: pointer; box-shadow: none;">
            <label class="label-filter" for="active-unDiscount" style="user-select: none;">không ưu đãi</label>
          </div>
        </div>
      </div>

      <div class="form-group mt-3">
        <div class="title-active-filter">Giá</div>
        <div class="price-input-container">
          <div class="price-input">
            <input type="hidden" class="min-input" [value]="filters.minPrice">
            <input type="hidden" class="max-input" [value]="filters.maxPrice">
          </div>
          <div class="slider-container">
              <div class="price-slider"></div>
          </div>
        </div>
        <div class="range-input">
          <input type="range" class="min-range" [min]="0" [max]="filterMaxPrice" [value]="filters.minPrice" step="1">
          <input type="range" class="max-range" [min]="0" [max]="filterMaxPrice" [value]="filters.maxPrice" step="1">
        </div>

        <div class="range-price">Giá:
          <span class="min-input-range">{{filters.minPrice}}đ</span> <i class="fa-solid fa-minus"></i> <span class="max-input-range">{{(filters.maxPrice).toLocaleString("vi-VN")}}đ</span>
        </div>
      </div>

      <div class="form-group mt-3">
        <button type="button" class="btnFilters">Bộ lọc</button>
      </div>
    </div>
  </div>

  <!-- modal category -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-category" aria-labelledby="offcanvas-categoryLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvas-cartLabel">DANH MỤC</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="categoryDetail">
        <ng-container *ngIf="categoryDetails.length != 0">
          <div class="item" *ngFor="let categoryD of categoryDetails">
            <a *ngIf="name == categoryD.size" style="color: orange;" [href]="'/collections/category?id='+categoryD.id+'&name='+categoryD.size"><i class="fa-solid fa-plus"></i> <span class="size">{{categoryD.size}} ({{categoryD.productSize}})</span></a>
            <a *ngIf="name != categoryD.size" [href]="'/collections/category?id='+categoryD.id+'&name='+categoryD.size"><i class="fa-solid fa-plus"></i> <span class="size">{{categoryD.size}} ({{categoryD.productSize}})</span></a>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="container" id="containerCategory">
  <div class="categoryDetail">
    <div class="title-category">DANH MỤC SẢN PHẨM</div>
    <div class="loading-data mt-3" *ngIf="categoryDetails.length == 0"><span class="loader3"></span></div>

    <ng-container *ngIf="categoryDetails.length != 0">
      <div class="item" *ngFor="let categoryD of categoryDetails">
        <a *ngIf="name == categoryD.size" style="color: orange;" [href]="'/collections/category?id='+categoryD.id+'&name='+categoryD.size"><i class="fa-solid fa-plus"></i> <span class="size">{{categoryD.size}} ({{categoryD.productSize}})</span></a>
        <a *ngIf="name != categoryD.size" [href]="'/collections/category?id='+categoryD.id+'&name='+categoryD.size"><i class="fa-solid fa-plus"></i> <span class="size">{{categoryD.size}} ({{categoryD.productSize}})</span></a>
      </div>
    </ng-container>
  </div>

  <div class="containerProduct">
    <div class="loading-product mt-3"><span class="loader3"></span></div>
    <div class="ctnProducts">
      <div class="products row mx-0 px-0" *ngIf="products.length != 0">
        <div class="productD col-xl-3 col-lg-4 col-md-4" *ngFor="let product of products">
          <div class="left-labeling">
            <div class="ctnLabeling">
              <button class="btnFavorite" [id]="product.id" *ngIf="product.favorite == false"><i class="fa-regular fa-heart favorite" [id]="product.id"></i></button>
              <button class="btnFavorite" [id]="product.id" *ngIf="product.favorite == true"><i class="fa-solid fa-heart favorite" [id]="product.id"></i></button>
            </div>
          </div>

          <div class="right-labeling">
            <div class="ctnLabeling">
              <div class="discount" *ngIf="product.showDiscount > 0">-{{product.showDiscount}}%</div>
              <div class="type" *ngIf="product.type != null && product.type != ''">{{product.type}}</div>
              <div class="outStock" *ngIf="product.outStock == false">Hết hàng</div>
            </div>
          </div>

          <a [href]="'/collections/product?id='+product.id+'&name='+product.name">
            <div class="image"><img [src]="product.imageUrl" loading="lazy"></div>
          </a>

          <div class="bottom-labeling">
            <div class="ctnLabeling">
              <button class="btnAddCart" [id]="product.id" *ngIf="product.outStock == true">
                <i class="fa-solid fa-cart-shopping addCart"></i>
              </button>
              <button class="btnSeeProduct" *ngIf="product.outStock == false"><i class="fa-solid fa-exclamation seeProduct"></i></button>
            </div>
          </div>

          <div class="name">
            <div class="size">{{product.name}}</div>
            <div class="price">{{product.showPrice}} đ</div>
            <del class="price-del" *ngIf="product.showPriceDel != null && product.showPriceDel != ''">{{product.showPriceDel}} đ</del>
            <div class="showSize">{{product.showSize}}</div>
          </div>
        </div>
      </div>

      <ul id="paging" *ngIf="total > 0 && totalPage.length > 1">
        <span class="page" *ngIf="pageNumber > 1" (click)="setPageNumber(pageNumber - 1)"><li>Trước đó</li></span>
        <ng-container *ngFor="let i of totalPage">
          <ng-container *ngIf="i <= 5 && pageNumber <= 2">
            <ng-container *ngIf="i == pageNumber">
              <span class="page" (click)="setPageNumber(i)"><li style="background-color: rgb(253, 142, 105);">{{i}}</li></span>
            </ng-container>
            <ng-container *ngIf="i != pageNumber">
              <span class="page" (click)="setPageNumber(i)"><li>{{i}}</li></span>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="pageNumber > 2">
            <ng-container *ngIf="i >= pageNumber-2 && i <= pageNumber+2">
              <ng-container *ngIf="i==pageNumber">
                <span class="page" (click)="setPageNumber(i)"><li style="background-color: rgb(253, 142, 105);">{{i}}</li></span>
              </ng-container>
              <ng-container *ngIf="i!=pageNumber">
                <span class="page" (click)="setPageNumber(i)"><li>{{i}}</li></span>
              </ng-container>
            </ng-container>
          </ng-container>

        </ng-container>
        <span class="page" *ngIf="pageNumber < totalPage.length" (click)="setPageNumber(pageNumber + 1)"><li>Kế tiếp</li></span>
      </ul>

      <div class="not-found" *ngIf="products.length == 0">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="message-not-found">Không có sản phẩm nào được tìm thấy trùng khớp với lựa chọn của bạn.</div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
